[2017-09-27 00:58] SunyataZero opened #3 "LXDE only: System tray file icon "shown as missing" while showing notification"
This is a bug in Qt or PyQt

![](https://i.stack.imgur.com/2Kc6x.png)

I've posted a question here: https://stackoverflow.com/questions/45827951/missing-file-icon-is-shown-in-the-system-tray-when-running-showmessage-with-no

Qt version: 5.7.1, 5.9.0

This bug is not seen in XFCE (version 4.12)

[2017-10-02 02:09] andy5995 opened #4 ""Rest Actions -> Add" results in blank entries being added"
Trying this on Debian Linux 9 (stretch)

"Rest Actions -> Add" results in blank entries being added

If nothing is entered into the field, clicking "Add" will create blank entries.

[2017-10-02 02:25] andy5995 opened #5 "[XFCE] Left clicking icon in system tray does nothing"
When the program is minimized to the system tray, left-clicking the icon does nothing.

I can right click, and left-click on restore. Works great :)

I'm using XFCE 4.12 on Debian Linux 9

[2017-10-02 10:51] SunyataZero commented on #5
Thank you for finding and reporting this issue, i use LXDE (Lubuntu) and on my desktop if i right click it will trigger a LXDE menu (unrelated to Mindfulness at the Computer), while left click will show the menu. (This is the same behavior as for redshift for example, but different systray application are behaving differently for me). I will look into this, thank you again for reporting

Kind Rega

[2017-10-02 11:36] SunyataZero commented on #4
Thank you for reporting this!

[2017-10-02 11:40] SunyataZero commented on #4
For newbies to the Free software world, please feel free to solve this issue, it's been marked for "first-timers-only"

### Here is a hint on how to approach this issue

For the breathing phrases there is no problem because the following code was used:
[code]

So you can do something similar to this for the rest actions, before the rest action is added to the db:

[code]

Again this is a first-tim

[2017-10-02 15:07] SunyataZero opened #6 "[Linux] Building Debian/Ubuntu Package"
We have created binaries using [pyinstaller](http://www.pyinstaller.org/) but to make it easier for Ubuntu and Debian users we would like to have a debian package

Todo list:
* [ ] Adding a changelog

Useful links:
* http://packaging.ubuntu.com/html/packaging-new-software.html
* https://wiki.debian.org/Packaging/Intro?action=show&redirect=IntroDebianPackaging

Chat about this issue: https://gitter

[2017-10-02 15:08] SunyataZero commented on #6
This link may be helpful: http://packaging.ubuntu.com/html/packaging-new-software.html I've followed it successfully for the example they gave ("hello") but i'm not sure how to use this for our application

[2017-10-02 20:33] andy5995 commented on #6
Because Ubuntu is based on Debian, I wonder if it would first be better to build a Debian package, and then adapt the Ubuntu package from that.

Also, are you wanting a package that meets Debian specifications, or just a package in Debian format that can be installed or removed with the Debian package manager.

To make a package that complies with the Debian policies, a few files will need to be a

[2017-10-02 22:36] andy5995 commented on #5
You're welcome.

I'm not sure if there's a "standard specification" on how an app should work in the system tray, to be honest.

Right now I have five icons in my system tray

When all these apps are minimized to the tray:
1. Left clicking on my IRC client restores
2. Left clicking on my RSS reader restores
3. Left clicking on pidgin IM restores
3. Left clicking the wifi icon brings up a list of n

[2017-10-02 22:54] SunyataZero commented on #5
The behavior i would like (for all platforms) is that the menu is shown on left click (and right click is ignored). Btw [transmission-gtk](https://transmissionbt.com/) also has the same behavior as redshift and matc does now

[2017-10-03 02:02] JedMeister commented on #6
FWIW if you can successfully build a Debian package which works, then it can (at least in theory) be rebuilt against any Debian based release and should also work there. As you're probably aware, a Debian package is built within a Debian chroot. You just use a different release chroot to build a different release package.

As @andy5995 notes, if you don't care about it getting into the official De

[2017-10-03 02:45] JedMeister opened #9 "Consider splitting front and backend code?"
TBH, I haven't looked closely at the code, so I have no idea of the implementation overhead. Perhaps this suggestions is totally unrealistic? Apologies in advance if that's the case.

Anyway, I notice that you are using Qt4 as front end library. Whilst Qt4 is an awesome front end from a developer perspective, from a Gnome/GTK user perspective, it means installing a whole ton of additional dependen

[2017-10-03 14:12] SunyataZero commented on #6
Hi @JedMeister and thank you for these comments, i actually know almost nothing about packaging sadly but i'm happy to learn. I've created a gitter chat room here and invited both of you if you'd be willing to answer a question or two from me: https://gitter.im/mindfulness-at-the-computer/packaging This seems to be an important conversation for the future of the application (bundling or not)

[2017-10-03 14:35] SunyataZero commented on #9
Hi and thank you for these thoughts, i appreciate it, and i'm learning from what you are writing here

Yes the application uses PyQt5, i've also tried using GTK and TkInter when i started learning about programming desktop GUI applications a year ago or so. I actually implemented the same application (another one than this) in these three different frameworks. I ended up liking PyQt5 and many peop

[2017-10-03 14:42] SunyataZero opened #10 "Fix a spelling error"
* In the code itself (or in code comments)
* In the documentation (docs/ directory or the readme file)
* On the website (see the gh-pages branch)

Chat: https://gitter.im/mindfulness-at-the-computer/Lobby

Multiple people can work on this issue

If you can't find a spelling error then please feel free to suggest an improvement of a sentence instead, perhaps changing a word or the sentence structur

[2017-10-03 19:21] AlphaSoldier commented on #10
Hi! First timer here....
Sorry for troubling you but could you guide me through sending a Pull Request for the listed issues.

[2017-10-03 21:33] SunyataZero commented on #10
Hi and thank you for your interest in helping out with Mindfulness at the Computer. I'll be happy to help you with anything you need. If you need help with anything we can use gitter to chat if you like? Either in the "lobby" for MatC
https://gitter.im/mindfulness-at-the-computer/Lobby
or in a "private room" on gitter (if you click on my avatar in the upper right corner (a black and white dog - my

[2017-10-03 23:14] andy5995 commented on #10
@SunyataZero , that's the same guy who submitted PR #11 :)

[2017-10-03 23:20] SunyataZero commented on #10
Okay, i just didn't know what he would read first so wrote a welcome message in two places

[2017-10-04 08:23] andy5995 opened #14 "Remove info from app web site to minimize maintenance and prevent duplication errors"
@SunyataZero , you may want to consider removing some info from the app web site (gh-pages).

For example, removing the description and features. This could be only in the README.

Basically the goal is to minimize how many pages you have to maintain. If info in the README is updated, you don't want to have to update the app web site each time.

The same goes for the Participate page.

If you went

[2017-10-04 08:35] andy5995 commented on #9
@JedMeister , Hi. I think your ideas are great. I like flexibility and versatility, and long-term thinking. The problem for me is... I know very little python. :) So far I've just helping with odds-and-ends.

[2017-10-04 10:23] JedMeister commented on #9
It's perhaps somewhat overkill right now, so I'm going to close this. Maybe just something to keep in mind if/when you do a rewrite?!

@SunyataZero - WRT to Python for webapps. It's totally doable. Actually there are quite a few MVC options. [bottle](https://bottlepy.org/docs/dev/) is superlightweight, [flask](http://flask.pocoo.org/) is still lightweight but has more features, [django](https://ww

[2017-10-04 10:23] #9 closed

[2017-10-04 10:38] JedMeister commented on #6
I know enough to be dangerous! :smile: It's actually something I have a bit to do with through work. Within the next few weeks, we'll hopefully have a nice containerised platform to build Debian packages from. It will only be for Debian, but once you have the source code building properly for Debian, you can probably upload to a PPA for Ubuntu. Hopefully, it'll just work :tm:! :smile:

Sorry I hav

[2017-10-04 16:48] andy5995 commented on #14
On second thought, better to leave the description, so people know what the project is about. ;)

[2017-10-04 16:49] toonarmycaptain commented on #4
I think I did what I needed to do :)
This is my first "fix"/commit other than adding scripts to repositories.

[2017-10-04 17:55] SunyataZero commented on #14
Thank you for this suggestion, i have been thinking about it and my take has been that i'd like to keep the "ordinary user" away from anything technical (including github), i like what you are saying though of avoiding duplication and making maintanence easier (maintanence is probably my top priority when working on technical projects)

About the README file: My thinking has been that the readme f

[2017-10-04 18:06] SunyataZero commented on #6
I'm happy to read that you know some packaging because it's such a big hole in my skills, i love being able to work together (and maybe i can learn a thing or two in the process as well :) )

About chatting: Gitter is nice in that it saves messages, (it's more like slack than irc). Also gitter can send email notifications for missed messages which is practical as well

Testing: Yes i'm running on

[2017-10-04 18:18] SunyataZero commented on #4
Hi @toonarmycaptain and thank you for contributing, i'm glad to hear that this is your first programming commit. Kind Regards, Tord

[2017-10-04 18:18] #4 closed

[2017-10-04 19:22] andy5995 commented on #14
When I first started using shareware in the late nineties, the README was written for the end-user. I believe at a minimum, the README should start with a brief description for end-users.

I generally agree with this https://stackoverflow.com/a/2305173

But I don't see the version number as necessary, except for a README included with a release.

[2017-10-04 22:47] andy5995 commented on #6
No need to worry about that, @JedMeister . As for the TZ, we just post, or answer, when we can. Sometimes hours might go by, and sometimes days. :)  With your default Gitter settings, you will receive notifications when someone has replied. If you close the chat and turn off the computer, the history of the chat will be there when you log back in.

I use Debian 9 (stretch). I could help you test p

[2017-10-04 23:00] SunyataZero opened #17 "Files to include in the end-user package (readme file, license, etc)"
* Readme - We may want to add a readme.txt file as well, this file would be directed towards the end-user (The README.md file in this project is written for tech people, and it's not included in the end-user package - after having built with pyinstaller)
* License

Todo list:
* [ ] Look at what other projects are doing

[2017-10-04 23:18] andy5995 commented on #14
A ticket ( #17 ) to specifically discuss the README has been opened.

[2017-10-04 23:54] JedMeister commented on #14
There isn't really a standard... IMO, a readme should at least contain some basic info for end users, even if that is just to direct them to where the rest of the info is. @andy5995's link is good IMO.

Whether to include the version in the readme is a personal thing (and I agree it shouldn't be necessary). On one hand, it means that it needs to be updated everytime you do a version bump. But on t

[2017-10-04 23:55] JedMeister commented on #14
@andy5995 - oops, I missed your latest post. Perhaps my essay should have been on the other issue?!

[2017-10-05 00:50] SunyataZero opened #18 "Not showing time for the in-breath and out-breath"
This is so that the user will be less inclined to try to breathe long breaths

[2017-10-05 01:05] SunyataZero commented on #14
@JedMeister Thank you for these thoughts, i can see that i have a lot to learn! I will come back to what you've written here but have already done one thing which was "low-hanging fruit" for me: I moved out running from source into it's own file (this makes a lot of sense to me) https://github.com/SunyataZero/mindfulness-at-the-computer/commit/df2011ef974ef4bafa17f944bea4d35a7e973a70

[2017-10-05 09:23] andy5995 opened #19 "Suggestions for wiki"
@SunyataZero writes:

You might like a "links" page to link to related projects.

Beyond that, there may be no need to plan ahead. One suggestion is to start the wiki, then add to it as you, or other users, think of things.

I think utilizing the wiki is good idea. In some cases it's easier to make a change to the wiki, rather than making changes to files within the main repo.

[2017-10-05 16:40] SunyataZero opened #20 "Integrating the central area breathing into the other parts of the application"
So that there is a user story of how to use this together with the other features

[2017-10-05 21:32] andy5995 commented on #5
Ok. I'll close this and create a ticket  for that.

[2017-10-05 21:33] andy5995 opened #21 "Handle alternative click in systray"
@SunyataZero wrote in #5:

[2017-10-05 22:28] andy5995 opened #23 "Online help URL does not exist"
https://github.com/SunyataZero/mindfulness-at-the-computer/blob/df2011ef974ef4bafa17f944bea4d35a7e973a70/mc/gui/main_win.py#L258

As far as I can tell, the online help url doesn't exist, or was possibly changed (by me). I would fix this, but I'm not sure the best URL to put there.

[2017-10-05 22:35] SunyataZero commented on #5
@andy5995 Have you tried redshift or transmission? I'm curios what they show on XFCE since i'm using the default in Qt (in other words i haven't chosen which button to click). It may be that XFCE switches the buttons in the menu when the buttons are not specified. This is actually my suspicion: that the buttons are switched and that this is the desired behavior for that platform. If that's the cas

[2017-10-05 22:46] SunyataZero commented on #23
Thank you for reporting this, the url has changed and is now:

`https://sunyatazero.github.io/mindfulness-at-the-computer/user-guide.html`

This can be a newbie-friendly issue, so i've added the "first-timers-only" tag

[2017-10-05 22:58] andy5995 commented on #5
Nope, not negative, you're fine, but I'll follow up later. :)

[2017-10-05 23:34] nicolehli commented on #23
first timer here and want to see if I can update the link as my first contribution. Can I try this out?

[2017-10-05 23:39] SunyataZero commented on #23
@nicolehli Hi and welcome! Yes absolutely, please do. @andy5995 wrote [this guide](https://github.com/SunyataZero/mindfulness-at-the-computer/blob/master/CONTRIBUTING.md#pull-requests) describing the process. Kind Regards, Tord

[2017-10-05 23:41] SunyataZero commented on #23
(I've invited you to [the chat room](https://gitter.im/mindfulness-at-the-computer/Lobby) if you like some more help with the pull request "PR" process. Actually @andy5995 is better at this but i'll also try to help as best i can)

[2017-10-06 00:10] #23 closed

[2017-10-06 00:42] SunyataZero commented on #14
Yes, there is even support for this from github, you can choose to generate a website from the readme file, this is something i experimented with early on in the project. (I got stuck though when trying to create multiple pages)

[2017-10-06 00:47] SunyataZero commented on #14
Thank you for this link, i hadn't seen this page but have read sections of the hitchhikers guide. rst makes sense since it's native to Python, the only reason i started using markdown is because i'm more comfortable with it, so making this switch i think would make sense

[2017-10-06 00:52] SunyataZero commented on #14
In general the end user i'm imaging in front of me is a 65-year old woman, someone who could be confused by seeing technical details. Therefore i'm trying to separate information about the application and how it works from a user perspective from the technical parts. I know this is not always done in many project i've seen but i think just seeing things that the user doesn't understand could trigg

[2017-10-06 02:49] JedMeister commented on #14
TBH, I've never played with that functionality on GH. But I'm a Linux sys admin, so writing a little bash script to do stuff like that is second nature to me. If you clarify the bits you want from what repo text files and what pages you want them to go on, then I could probably bash something together?! (Pardon the pun...)

You are most welcome. FWIW, speaking from personal experience, it's possib

[2017-10-06 10:21] SunyataZero commented on #14
Thank you for all your help, i have a feeling that i may end up implementing most of what you are saying, i just need to learn things slowly at my own pace :)

[2017-10-06 21:42] SunyataZero opened #25 "Change the icon to show what reminders (breathing and or rest) are active"

[2017-10-07 17:41] andy5995 commented on #5
I installed redshift!

When I left-click, I get a menu. When I right-click, I get the same menu.

[2017-10-07 21:41] SunyataZero commented on #5
Thank you for testing this, i've now written this question on SO: https://stackoverflow.com/questions/46625306/xfce-and-qt-left-clicking-on-systray-does-nothing

[2017-10-08 12:24] SunyataZero opened #28 "Increase the module name length of mc?"
Maybe we want this to be longer since mc will get into the global module name system (?) Someone with good Python skills please help!

Examples of what we could change to:
* matc

[2017-10-08 12:29] SunyataZero opened #29 "Ensuring that the application works on systems without a systray"
There is a function in Qt to check if the systray is available: https://doc.qt.io/qt-5/qsystemtrayicon.html#isSystemTrayAvailable

[2017-10-08 12:58] SunyataZero commented on #29
There is a function in Qt to check if the systray is available: https://doc.qt.io/qt-5/qsystemtrayicon.html#isSystemTrayAvailable

[2017-10-08 20:32] SunyataZero commented on #21
https://stackoverflow.com/questions/46625306/xfce-and-qt-left-clicking-on-systray-does-nothing

[2017-10-08 20:36] SunyataZero commented on #21
Behavior for different platforms:

Platform | Left click | Right click
---|---|---
XFCE | Nothing | Menu shown
LXDE | Menu shown | LXDE handles the click
Windows | Nothing | Menu shown

[2017-10-08 20:41] SunyataZero commented on #21
https://ux.stackexchange.com/questions/111882/standard-for-using-the-system-tray

[2017-10-09 14:56] SunyataZero opened #30 "Set limit on the height of a breath"
Store this in settings?

[2017-10-10 17:30] nicolehli opened #31 "Offline Help crashes app"
When I click offline help form Help tab at the top, I get error messages and application will crash. I fetched and pull from upstream before testing this. Anyone else get this? Just want to log this before I forget.

Version
[code]

Crash
[code]

[2017-10-10 20:45] SunyataZero commented on #31
Thank you for reporting this!

I will actually remove the offline help but this is still interesting since i don't get the same problem when running (the latest version) myself, and there may be something important that i don't understand here

I had forgotten to include the readme file when building using pyinstaller, though if you run from source i'm not sure why there is a problem, maybe you ar

[2017-10-10 21:14] nicolehli commented on #31
You're right @SunyataZero; It works in the right directory. Must be because I was not in root where README.md was. I'll close this ticket and leave the task to remove offline help.

[2017-10-10 21:14] #31 closed

[2017-10-10 22:20] SunyataZero commented on #31
@nicolehli This is a good insight that i will remember, it's important for me to remember so that i don't use these relative paths in the future, but rather build an absolute path, this should be better right @JedMeister ?

[2017-10-10 23:49] SunyataZero commented on #14
One option i thought about: We could include a readme.txt file as well as the readme.md file and then only include readme.md in the package built using pyinstaller

[2017-10-10 23:52] SunyataZero commented on #17
One option is to include a readme.txt file as well as the .md file, and then include this in the package built by pyinstaller

[2017-10-10 23:52] #18 closed

[2017-10-10 23:56] SunyataZero commented on #19
Grateful for these suggestions, i've now added these:
* Building and Packaging Research (Other research could also get a page)
* Organizations and Postings on Websites
* Similar Applications
* Testamonials

[2017-10-10 23:56] #19 closed

[2017-10-11 00:12] SunyataZero commented on #19
@andy5995 Do you think we should open up the wiki for editing by anyone? (Not just collaborators). This would make sense so that people without coding experience can add similar applications, suggestions for ideas, etc

[2017-10-11 01:16] SunyataZero opened #32 "Application credits"
Some places where we can display application credits:
* the application website
* in help -> about
* ~~CONTRIBUTORS.md~~ - unnecessary

A list of programming contributors to this project can be found here: https://github.com/SunyataZero/mindfulness-at-the-computer/graphs/contributors

[2017-10-11 01:16] SunyataZero commented on #32
List of programming contributors: https://github.com/SunyataZero/mindfulness-at-the-computer/graphs/contributors

[2017-10-11 01:17] SunyataZero commented on #32
There are at least two places for displaying credits:
* the application website
* in help -> about

[2017-10-11 22:30] SunyataZero commented on #21
I've been working on this issue today, there is a signal in Qt for the system tray called "activated" which can be used to intercept when someone clicks the tray. I haven't been able to get this working though even though i've followed the examples. I think the reason it doesn't work is that there is a bug for some desktop environments or os:es, see this issue: https://stackoverflow.com/questions/

[2017-10-11 23:25] SunyataZero commented on #21
@andy5995 I've now updated to using PyQt 5.9 and still have the same problem. To see if the same problem appears on other platforms than the one i'm using (LXDE+Lubuntu) i've added a debug printout that prints this: "entered on_systray_activated". If you like you can start the program and click on the systray icon and then look for this message

[2017-10-12 23:45] SunyataZero opened #34 "Merging the two lists of rest actions into one?"

[2017-10-16 18:45] andy5995 commented on #21
Yes, I get the debug message when I left click.

Let me know if you'd ever like me to test on KDE. I never use it but I think it's installed.

[2017-10-16 18:52] andy5995 opened #38 "Shortening the verb tense of Rest Actions"
This might be a desired change:

~~Making~~ Make a cup of tea
~~Opening~~ Open a window
~~Stretching~~ Stretch the arms

[2017-10-16 18:55] SunyataZero commented on #21
Alright, then i can just show the same menu at left click as on right click (alternatively show the main window "restore" directly)

[2017-10-17 19:49] SunyataZero opened #39 "[Windows] MatC doesn't start on one Win 10 system"
A GUI window blinks but otherwise nothing happens after the application has been started

(doesn't matter if the application is started for the 2nd time, after "run anyway" has been chosen)

This does only seem to happen for some Win 10 systems (1/3?), however there have been other problems seen on Win10 systems

Version where this bug was found: alpha.3

Person who found it: *Ron* (Reminder: Chec

[2017-10-17 20:29] andy5995 commented on #6
@SunyataZero you may want to start by adding a changelog that is formatted to Debian specifications. I think once all the required files are made, that would make it much easier for people who want to try building a package that meets specifications.

I haven't experimented yet with the GitHub "Projects" feature, but maybe this would be a good "Project" to start.

[2017-10-18 16:53] #34 closed

[2017-10-18 22:14] SunyataZero commented on #6
Thank you for the suggestions, (i don't think i've used projects yet either, but maybe it's similar to waffle.io). Is it important to start right now with the changelog or can it wait? there's so many things right now... Kind Regards, Tord

[2017-10-18 22:19] SunyataZero commented on #38
I prefer the "less commanding" way of putting it, i want to put it in as non-threatening way as possible. Kind Regards, Tord

[2017-10-19 15:24] andy5995 commented on #38
Ah, I understand. :)

[2017-10-19 15:24] #38 closed

[2017-10-19 15:26] andy5995 commented on #6
It's all up to you. :)

[2017-10-21 20:37] YendyH commented on #10
Hello. I would like to contribute to the .idea file (not sure if I have to comment/claim first...)
Thank you!

[2017-10-22 13:06] SunyataZero commented on #10
Hi and thank you for wanting to help out with this project! You can make a pull request when you are ready (no need to comment). If you need help with anything please don't hesitate to ask, either here or in the [gitter chat](https://gitter.im/mindfulness-at-the-computer/Lobby) or just by emailing me at tord(dot)dellsen(at)gmail(dot)com
Kind Regards, Tord

[2017-10-22 23:26] andy5995 opened #40 "tray icon not responding, terminal output repeats, cpu usage at 100%"
I updated from the upstream couple hours ago.

I ran it and walked away for a while.

I see my cpu usage for `python3` is at 100%.

Messages keep repeating in the terminal. It looks like they're not. I can only tell they are repeating quickly when I press `ctrl-z`, and then enter `fg` again.

The icon in the tray is non-responsive.

[code]

Here's the output when I use `ctrl-c`
[code]

[2017-10-23 00:17] SunyataZero commented on #40
@andy5995 Yes i've changed some gui_update functions and there must have been a loop here (there's a big risk of that), can you try to clone the latest version? Kind Regards, Tord

[2017-10-23 00:41] andy5995 commented on #40
I replicated a second time using https://github.com/SunyataZero/mindfulness-at-the-computer/commit/13b2b6933090dd37f8595748f7705493026c3096

I didn't make a note of the hash for the first time.

I'll try again (906bcfd8f8167bb61ed8ff026e5bc38a9959442b)

[2017-10-23 00:56] SunyataZero commented on #40
Okay strange, i am running the latest and there is almost no cpu usage and no debug output. In a way i am not surprised though because of the changes i've made to the gui update system, there is a high risk of loops. I will try and rethink how i can better organize it to reduce the risk of this type of problem

[2017-10-23 01:25] SunyataZero commented on #40
@andy5995 Alright i've now made some changes to the GUI update system, specifically trying to avoid loops. Can you try to run the latest version now? Kind Regards, Tord

[2017-10-23 01:45] andy5995 commented on #40
Same result

Trying again with 44f7413250c342d0095887cc5125fb9b2aeed2af ....

[2017-10-23 04:49] andy5995 commented on #40
It's not freezing anymore. Good fix!

[2017-10-23 04:52] andy5995 opened #41 "timer not moving, no rest reminder"
The timer isn't moving, and as a result, no rest reminder pops up.

44f7413250c342d0095887cc5125fb9b2aeed2af

I think this reproduces every time, but I'll let you know.

[2017-10-23 11:36] SunyataZero commented on #40
Okay, thank you for finding this bug and staying with me through the process. It's strange though that you saw the bug but not me, we are running the application on almost the same system. Perhaps there was a race condition or something. Kind Regards, Tord

[2017-10-23 11:36] #40 closed

[2017-10-23 11:55] SunyataZero commented on #41
Okay i see this now as well on my computer, thank you for finding this, i've now fixed it

[2017-10-23 11:55] #41 closed

[2017-10-23 22:27] #20 closed

[2017-10-23 22:58] SunyataZero commented on #28
@sebaste What do you think about this idea?

[2017-10-23 22:59] SunyataZero commented on #25
This has now been implemented

[2017-10-23 22:59] #25 closed

[2017-10-23 23:06] SunyataZero commented on #14
Closing this as there is currently almost no overlap between the readme and the website

[2017-10-23 23:06] #14 closed

[2017-10-24 06:53] andy5995 commented on #3
Hi @SunyataZero :)

I don't understand the question. Do I have to delete a file to test this?

I see the app icon in the tray as normal, with the letters "BR" in the lower left quadrant.

[code]

[2017-10-24 06:58] andy5995 commented on #21
I tried this with 2abcc37f5038b0869cb37930293211298d5208f7

[code]

[2017-10-24 08:21] SunyataZero commented on #3
@andy5995 Hi and thank you for helping out, it looks like this on LXDE when the breathing notification is shown: ![](https://i.stack.imgur.com/2Kc6x.png) Do you have this problem on XFCE?

[2017-10-24 08:39] SunyataZero commented on #21
Thank you for helping out, i have now experimented a bit with it myself (i don't have access to XFCE but can still test the popup line). The problem that i'm seeing is that the menu shown when triggering this manually is looking different from the standard systray menu. Therefore i'm changing so that "alternative clicking" on the systray icon instead normalizes the window. Hopefully this should wo

[2017-10-24 18:24] andy5995 commented on #3
When the notification balloon pops up every 30 seconds, the icon does not change (XFCE 4.12)

[2017-10-24 18:26] andy5995 commented on #21
It shows 3 when I click every second. It shows a pattern of 2,3,2,3,2,3 when I click very rapidly.

[2017-10-25 23:55] SunyataZero commented on #21
Thank you, 2 means double click and 3 is "The system tray entry was clicked". See http://doc.qt.io/qt-5/qsystemtrayicon.html#ActivationReason-enum. This issue has been resolved since the "alternative click" now restores the window

[2017-10-25 23:55] #21 closed

[2017-10-26 22:44] SunyataZero opened #42 "Audio for rest reminders"
As for the breathing reminders:
* we're not going to see any text if the notification is just with audio
* the user will have the option of selecting "visual", "audio", "both"

[2017-10-27 14:25] SunyataZero opened #43 "How to deal with systems without notifications?"
It seems not all Mac systems need to have growl. A Mac user wrote that it seems like Qt talks directly with the Mac notification system

We may want to show another type of warning (rather than a log warning as now) when the user starts the application and does not have support for showing notifications

[2017-10-29 07:02] SaravananOffl opened #45 "manual-testing.md file can be punctuated"
All the other files are punctuated properly except this file.

[2017-10-29 15:43] #45 closed

[2017-11-03 19:47] unix-root commented on #10
@SunyataZero Can I take this issue ??

[2017-11-03 20:42] SunyataZero commented on #10
@unix-root Yes, please go ahead! Kind Regards, Tord

[2017-11-04 07:06] aditya81070 commented on #10
Can I also take this issue?

[2017-11-04 12:57] SunyataZero commented on #10
@aditya81070 Absolutely! Kind Regards, Tord

[2017-11-05 14:14] Jai-Z commented on #10
I'd like to contribute too!

[2017-11-05 23:01] SunyataZero commented on #10
@Jai-Z Thank you for wanting to help out with the project, and you are most welcome to contribute! If there's anything you need to ask you can use our gitter chat here: https://gitter.im/mindfulness-at-the-computer/Lobby Kind Regards, Tord

[2017-11-09 23:48] SunyataZero commented on #17
I've now asked a question here about this: https://softwareengineering.stackexchange.com/questions/360567/what-non-essential-files-should-be-included-in-end-user-package

[2017-11-10 02:13] JedMeister commented on #17
I was almost tempted to reply to your SE question, but seeing as I can't really give you anything other than my personal opinion (which may or may not be legitimate - whilst I'm a "developer" of sorts, I'm not really a proper "programmer").

As someone who spends a lot of time at the commandline and from the perspective of a developer (see above) I would suggest that including a readme and licence

[2017-11-10 02:56] taniaReyesM commented on #43
Maybe the notification can be sent to their mobile phone

[2017-11-10 23:29] SunyataZero commented on #17
I've now included both the readme and license files in the end-user package, closing this issue. Thank you @JedMeister for your help!

[2017-11-10 23:29] #17 closed

[2017-11-10 23:55] SunyataZero commented on #29
At the time of writing there is nothing that requires us to have a system tray (we have recently removed the notificaions)

[2017-11-10 23:58] SunyataZero commented on #43
Closing this issue since we have recently removed the notifications from the application (instead using a custom and interactive dialog that the user can breathe with)

[2017-11-10 23:58] #43 closed

[2017-11-11 22:35] SunyataZero commented on #32
Now linking to the contributor list in the about box inside the application

[2017-11-11 22:35] #32 closed

[2017-11-12 18:35] SunyataZero opened #51 "Improving db code resilience"
This (from @ivanbarreto) happens when the database is only partially created:
[code]

[2017-11-12 19:12] SunyataZero opened #52 "Code Review: Front-End"
Code review of the Python and PyQt/Qt code, in other words of files in the `gui/` directory/package: https://github.com/SunyataZero/mindfulness-at-the-computer/tree/master/mc/gui

Suggestions for how to refactor is welcome!

Please note:
* Multiple people can work on this issue
* You can choose a small part of the code for a code review

[2017-11-12 19:14] SunyataZero opened #53 "Code Review: Back-End"
Code review of the Python and sqlite3 code, in other words of files in the base of the mc/ directory/package: https://github.com/SunyataZero/mindfulness-at-the-computer/tree/master/mc

Suggestions for how to refactor is welcome!

Please note:
* Multiple people can work on this issue
* You can choose a small part of the code for a code review

[2017-11-13 18:02] SunyataZero opened #55 "Create a shared widget for holding the rest action and breathing phrase lists"
https://github.com/mindfulness-at-the-computer/mindfulness-at-the-computer/blob/master/varia/experimental_list_widget.py

[2017-11-13 18:09] SunyataZero opened #56 "Adding presets (to the application menu and settings main menu)?"
Presets will include time intervals and breathing phrase, and on/off status

The menu can look like this:
* Set current setup as preset
* (horizontal line)
* Preset 1
* Preset 2

**How can a preset be removed?** Options:
1. A remove menu item can be added for each menu entry
2. A popup can be shown when clicking on the menu entry, allowing to remove
3. Right clicking (is this supported?)
4. Add a

[2017-11-13 19:43] SunyataZero commented on #56
Posted this question on ux.stackexchange: https://ux.stackexchange.com/questions/113449/using-the-menu-bar-with-user-entries-removing-entries

[2017-11-13 22:41] SunyataZero opened #57 "Saving and restoring the geometry and dock status"
From another application:
[code]

We could save the data using QSettings, but preferrably we will use the SettingsM table in the SQLite database

[2017-11-14 14:38] SunyataZero commented on #56
Technical: If we add presets we might want to use "id" in the SettingsM class (which is unused at the moment):

[code]

[2017-11-14 17:47] SunyataZero opened #58 "Possible SQL injection vector through string-based query construction"
Codacy gives many warnings like this:
[code]
for the [mc/model.py](https://github.com/SunyataZero/mindfulness-at-the-computer/blob/master/mc/model.py) file

***

Codacy link: https://www.codacy.com/app/SunyataZero/mindfulness-at-the-computer/file/12095370059/issues/source?bid=5377200&fileBranchId=5377200

[2017-11-14 22:25] SunyataZero commented on #58
Some of the warnings were incorrect, and these have been "ignored" in codacy, and the warnings that were "real" have been fixed. Please note that there may be similar things happening in the future where we may want to ignore the issue

[2017-11-14 22:25] #58 closed

[2017-11-14 22:51] SunyataZero opened #59 "Use f-strings?"
F-stings are new in Python 3.6, and we may want to consider using them rather than concatenating strings as we do at the moment. One downside is that the code is not going to to be backwards compatible. On the other hand pyinstaller bundles Python into the generated package so for the end-user this is no problem

[2017-11-14 23:00] SunyataZero opened #60 "Exchange an int counter for enumerate"
Right now we are using int counters in while loops, but we would like to use `enumerate` instead

[Official Python documentation for enumerate](https://docs.python.org/3/library/functions.html#enumerate)

[Explanation by Martijn Pieters on SO](https://stackoverflow.com/a/22171593/2525237)

To find a place where enumerate can be used please search for `count` in the code files, this should give a f

[2017-11-15 00:19] SunyataZero opened #61 "Reducing redundancy in the SQLite code"
We can use key-value pairs to insert different values into the database. It's also possible to combine update and insert: https://stackoverflow.com/questions/418898/sqlite-upsert-not-insert-or-replace

We can use key-value arguments

[2017-11-15 00:22] SunyataZero opened #62 "Switching to PyTest (from unittest)"
* https://pytest-qt.readthedocs.io
* https://docs.pytest.org/en/latest/

[2017-11-15 00:24] SunyataZero opened #63 "Investigate and document how to use virtualenv"

[2017-11-15 00:24] SunyataZero commented on #63
These links may be useful:
* http://www.pythonforbeginners.com/basics/how-to-use-python-virtualenv
* http://docs.python-guide.org/en/latest/dev/virtualenvs/

[2017-11-15 00:41] SunyataZero opened #64 "Automated builds with AppVeyor"
for testing and possibly deployment for Windows

AppVeyor seems to be used by many (hightly starred) project

[2017-11-15 00:49] SunyataZero commented on #64
Or do the Windows builds on Travis: https://stackoverflow.com/questions/19818336/how-to-make-travis-ci-test-package-for-linux-os-x-windows

[2017-11-15 08:24] SunyataZero opened #65 "Reduce gui code duplication"
[This list](https://www.codacy.com/app/SunyataZero/mindfulness-at-the-computer/files?bid=5377200&filters=W3siaWQiOiJjb2x1bW5JbmRleCIsInZhbHVlcyI6WzNdfSx7ImlkIjoic29ydE9yZGVyIiwidmFsdWVzIjpbIkRlc2NlbmRpbmciXX0seyJpZCI6InNlYXJjaFRleHQiLCJ2YWx1ZXMiOltudWxsXX1d) shows the files with the most code duplication at the top. Click on the number in the "Duplication" column to go directly to the file with th

[2017-11-15 19:41] SunyataZero opened #67 "[Windows] Possible to see the close (x) button (upper right corner) for the breathing dialog"
(and possible to actually close the dialog this way)

This depends on what [window type](http://doc.qt.io/qt-5/qt.html#WindowType-enum) we are using

[2017-11-15 19:57] SunyataZero commented on #63
This may be less important than for other projects since we are using pyinstaller

[2017-11-15 20:10] SunyataZero commented on #65
One challenge is to reduce the duplication of the code in the static functions in this file: https://github.com/SunyataZero/mindfulness-at-the-computer/blob/master/mc/model.py

[2017-11-15 20:25] SunyataZero opened #68 "Give the user something else to focus on?"
Besides the columns. **Focusing the attention on the columns might lead to the user trying to breathe long breaths** which goes against mindfulness of breathing. (However course taking longer breaths is a natural consequence of mindful breathing, but without being the goal)

[2017-11-16 05:09] SunyataZero commented on #62
We've chosen to use unittest after all, closing this issue

[2017-11-16 05:09] #62 closed

[2017-11-16 06:04] SunyataZero commented on #3
This is still a problem on LXDE, but since this is something that we cannot do anything about (an "upstream bug"), so i'm moving it to the wiki for now

[2017-11-16 06:04] #3 closed

[2017-11-16 16:55] SunyataZero commented on #60
Here is one place where you can fix this: [The add_from_dialog function in the breathing_widget.py file](https://github.com/SunyataZero/mindfulness-at-the-computer/blob/cb4de87e891728a64f32b6c722cd4e427dda2337/mc/gui/breathing_widget.py#L199)

[code]

[2017-11-16 18:38] SunyataZero opened #69 "Asking the user to adjust her posture in the breathing dialog"

[2017-11-16 22:59] SunyataZero opened #70 "Increasing code coverage"
Please note:
* This issue can be taken multiple times and by multiple people

[2017-11-16 23:16] hangZH03 commented on #60
Hello, as a code newbie I'd like to try this , may I? @SunyataZero

[2017-11-16 23:18] SunyataZero opened #71 "Adding type hints to function headers"
Example:

[code]
can be changed to
[code]
if the expected in argument is a string

Type hints can also be used for the return value, for example:
[code]
or if the function doesn't return anything:
[code]

Please note that this issue can be taken multiple times and by multiple people

***

If you like the project you can help out by "starring" the project <3 This will help make it easier for others

[2017-11-16 23:26] SunyataZero commented on #60
@hangZH03 Hi and welcome! Yes please go ahead. @jmlgh is working right now on the section of code in the comment above (file: breathing_widget.py) but there is also [this code that needs to be fixed inside main_window.py](https://github.com/SunyataZero/mindfulness-at-the-computer/blob/master/mc/gui/main_window.py#L179):

[code]

If you like you can join us on our [gitter chat](https://gitter.im/mi

[2017-11-16 23:57] dgauraang commented on #71
Hi, I would like to work on this issue. Thank you!

[2017-11-16 23:59] SunyataZero commented on #71
@dgauraang Welcome! Please go ahead! If there's anything you need help with please don't hesitate to ask if our [gitter chat](https://gitter.im/mindfulness-at-the-computer/Lobby) Kind Regards, Tord

[2017-11-17 10:02] hangZH03 commented on #60
Ok, I would like to try this, thanks

[2017-11-19 14:18] cgassman commented on #10
@SunyataZero as this is my first contribution to an open source project ever, just fyi, I fixed two spelling issues errors on the webpages. Will make a pull request now and hope everything goes well.

[2017-11-19 14:24] SunyataZero commented on #10
@cgassman Thank you for your help, every looks good and i've now merged the improvements, i'm glad that there is a chance for people to collaborate using git and github. Kind Regards, Tord

[2017-11-20 00:29] #60 closed

[2017-11-20 00:31] SunyataZero commented on #59
We've decided not to use this since some devs may be using 3.5 or earlier (this is the version included in Ubutnu 16.04 LTS for example)

[2017-11-20 00:31] #59 closed

[2017-11-21 18:40] SunyataZero commented on #71
@nishusharma1608 Hi and welcome! Yes please feel free to work on this, you only need to change a one header with each commit+PR ("pull request") so the risk for collision with @dgauraang is small (but just in case you could say which file and function you will change if you want). Kind Regards, Tord

[2017-11-23 01:11] wjiang0 commented on #71
Hi @SunyataZero I would also like to help out with this issue. Do we have to limit one header change with each commit+PR? Or can we add hints to multiple function headers (each an individual commit) and make a single PR that way? If so, I'd like to work on the mc/mc_global.py file.

[2017-11-23 12:43] SunyataZero commented on #71
Hi and welcome, yes please feel free to work on the whole file if you like. If you need help you can use the gitter.im chat. Kind Regards, Tord on mobile

[2017-11-23 20:31] andrefouger commented on #71
Hi, I would like to work on this issue. Thank you!

[2017-11-23 21:37] SunyataZero commented on #71
@andrefouger Hi and thank you for wanting to help with the application! Kind Regards, Tord

[2017-11-24 22:07] SunyataZero opened #79 "Adding screenshots to the readme.md file"
Please use a height of about 140 px for the screenshots, and place them side by side in the readme.md file. The readme.md file uses markdown formatting, and images can be added like this: https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#images

[2017-11-24 22:45] SunyataZero opened #80 "Showing only the present breath?"
To help the user focus on the present breath and not compare with other breaths

(We can still keep a breathing length history)

[2017-11-24 23:15] SunyataZero opened #81 "Adding notification before rest is coming up"
If the user clicks on the notification, a rest is taken right away

This would need to be covered in settings, so that the user can turn it off. (And perhaps change the length in time that the notification is shown)

[2017-11-24 23:36] SunyataZero opened #82 "Inform the user that it's best to let the click follow the breath?"
(rather than the other way around)

This can be done in the user guide or in the application itself

[2017-11-25 16:26] SunyataZero opened #83 "Giving users a visual overview of the tech architecture"

[2017-11-25 23:40] MaskyS commented on #10
Hey, maybe you should close this issue since the typos have been fixed? :D

[2017-11-25 23:40] MaskyS commented on #71
Close fixed issues please :)

[2017-11-26 00:19] SunyataZero commented on #71
@MaskyS Hi and welcome, there are still functions without type hints so i'm leaving this open for now. Kind Regards, Tord

[2017-11-26 00:41] Buzzmonolith commented on #71
@SunyataZero Hello, how can I contribute to your project?

[2017-11-26 00:47] SunyataZero commented on #71
@Buzzmonolith Hi and welcome!

A couple of important links:
* You can read about the application from a user-perspective on the application website: https://sunyatazero.github.io/mindfulness-at-the-computer/
* Gitter chat: https://gitter.im/mindfulness-at-the-computer/Lobby
* https://github.com/SunyataZero/mindfulness-at-the-computer/blob/master/CONTRIBUTING.md

For the type hints issue: If you fi

[2017-11-26 14:55] SunyataZero commented on #79
@VishalVatsal97 Hi and welcome! Please go ahead, i'll also invite you to the gitter chat https://gitter.im/mindfulness-at-the-computer/Lobby where you can ask any questions. Kind Regards, Tord

[2017-11-26 19:33] SunyataZero opened #85 "Having passive notifications as well as active?"
(Using the notification system or building custom notifications)

The idea behind this is that the breathing dialogs right now require the user to stop what she is doing, it may be good to have a breathing pause where the user can continue what she is doing but be mindful of the breath at the same time

Idea: If notifications are clicked they trigger an action which we can tap into, maybe this cou

[2017-11-28 01:37] SunyataZero commented on #85
These can be somewhat transparent (if that is possible) so that the user can what's behind

[2017-11-29 15:53] SunyataZero opened #86 "[MacOS] Main window is opened when the user closes the interactive breathing dialog"
Not seen on Lubuntu 16.04 (LXDE desktop environment)

Bug found by @mbed67 on MacOS Sierra 10.12.6

[2017-11-30 12:38] gsmods commented on #10
i wanted to contribute to this work as its my first contribution

[2017-11-30 13:44] SunyataZero commented on #10
@gsmods Hi and welcome! I have sent a message in the gitter chat and will be available there for a couple of hours. Kind Regards, Tord

[2017-12-02 00:14] SunyataZero opened #87 "Mouse is moved even when a mouse button is pressed down"
1. Mouse button is pressed down
2. There is a timeout and the breathing dialog is shown
3. The mouse button is moved to the dialog area

This might result in frustrating behavior, for example the user may be setting the volume in an application by pressing down the mouse button and moving the mouse and then this happens which can lead to the volume being min or max

[2017-12-02 01:52] srukle commented on #87
Do you mean when you move your mouse into the dialogue box, like the white box with the bar graph?

[2017-12-02 02:14] srukle opened #88 "docs missing at https://sunyatazero.github.io/participate.html"
Page is a 404.

To go to page, follow the path here:
https://sunyatazero.github.io/mindfulness-at-the-computer/

click on participate

[2017-12-02 10:11] SunyataZero opened #90 "[Multiple desktops][MacOS] Reminders not shown in the current desktop"
http://doc.qt.io/qt-5/qdesktopwidget.html

[2017-12-02 15:33] SunyataZero commented on #87
@srukle When the user has the mouse button pressed down, and then the breathing dialog is shown - moving the mouse cursor away - this can cause some funny effects like if you are dragging a window it will appear far down, or if you are using a vector-based drawing program. I'm tired now but will try to update the description with more info another time. Kind Regards, Tord

[2017-12-03 23:42] #87 closed

[2017-12-03 23:42] #85 closed

[2017-12-03 23:45] SunyataZero commented on #57
Not relevant after the redesign

[2017-12-03 23:45] #57 closed

[2017-12-03 23:45] SunyataZero commented on #80
Implemented in the new design

[2017-12-03 23:45] #80 closed

[2017-12-03 23:46] SunyataZero commented on #81
Implemented in the new design

[2017-12-03 23:46] #81 closed

[2017-12-04 02:09] srukle commented on #87
@SunyataZero I cannot read your commit message. Could you clarify why the ticket was closed please? Thank you.

[2017-12-04 04:56] SunyataZero commented on #87
@srukle Hi, i'm glad you are interested in this project and i'll be happy to explain: The functionality of moving the mouse pointer has been removed now so this issue is no longer relevant

What i tried before removing this functionality:
* I did research to see if there was any way to send a global "mouseup" programatically (this isn't possible)
* I tried detecting the global mouse button state u

[2017-12-04 05:13] SunyataZero commented on #90
I don't see this on my LXDE system, have written in the gitter lobby about this asking people to test the latest code

[2017-12-04 07:13] mbed67 commented on #90
After pulling the latest changes, the reminders are indeed shown in the current desktop. However, when I click on the close button, the application crashes with the following message
[code]

[2017-12-04 15:04] #90 closed

[2017-12-05 08:03] mbed67 opened #93 "[MacOS] breathing and resting popups don't appear in full-screen windows"
I'm using a Mac and I noticed strange behavior when using full-screen windows.
On my Mac I can choose to create multiple desktops. And I can also set the current window to full screen. When the main application is situated on desktop 1 and I'm working on desktop 1 or 2, then I see the breathing and resting popups correctly. When I'm working in a full-screen window, I don't see the popups. The popu

[2017-12-05 08:19] rustyday commented on #88
The URL is wrong, currently points to: https://sunyatazero.github.io/participate.html
Should be: https://sunyatazero.github.io/mindfulness-at-the-computer/participate.html

[2017-12-05 17:43] SunyataZero commented on #88
Thank you for finding this, i've now pushed a bug fix which resolves this issue. Kind Regards, Tord

[2017-12-05 17:43] #88 closed

[2017-12-06 01:22] SunyataZero opened #94 "Pause breathing and rest notifications for a specified amount of time?"
- so that the user doesn't have to exit the program

[2017-12-08 05:02] #68 closed

[2017-12-09 16:53] SunyataZero opened #95 "Handle the case when there are no breathing phrases"

[2017-12-12 00:43] rogermeadows opened #96 "Improving new developer documentation"
As a new developer I am using the existing online documentation. When I encounter a question or problem that is not addressed in the current documentation, I will add to the existing documentation to address the new question or issue.

For example, it was not clear to me how to start Travis CI on my fork and how to find the results form Travis CI execution on the main repository. It was also not c

[2017-12-12 14:39] SunyataZero opened #97 "Setting up a branching system for the project"
* [x] deciding on what approach we want
* [x] Also updating the documentation

[2017-12-12 14:39] SunyataZero opened #98 "Creating a github organization for the project"
[Github Help - About repository transfers](https://help.github.com/articles/about-repository-transfers/)

Here's my todo list for transferring to the org:
* [x] https://github.com/SunyataZero/mindfulness-at-the-computer/settings
* [x] update links: up-for-grabs
* [x] code4socialgood
* [x] all other links on outreach
* [x] email newsletter tinyletter
* [x] documentation in the docs/ directory

[2017-12-12 15:42] SunyataZero opened #99 "Showing the number of minutes since the last break"
We could print this
* in the rest reminder dialog
* in the settings?

[2017-12-12 16:56] SunyataZero opened #100 "New logo for the application"
Some thoughts about the design of the logo:
* The leaf and the green color represents nature and breathing oxygen generated by plants
* Please use the same green color as we have now
* The application icon must work in a small format as some operating systems show icons in a 16x16 or 20x20 format

[2017-12-12 18:38] SunyataZero commented on #96
Thank you for bringing this up, a developer friend of mine said to me "good documentation is what makes free and open source software projects succeed"

Another thing i was thinking about: Markdown is used in the docs/ directory, on the wiki and when chatting on gitter, maybe we can include a link to a quick guide to markdown somewhere? (Here is one guide: https://github.com/adam-p/markdown-here/w

[2017-12-12 22:39] rogermeadows commented on #96
That is a great idea. I will find a place for that link. I need the link
myself. I am having trouble formatting my replies to gitter messages. I
can't seem to get the block quote to work correctly. I will figure it out.
Thanks,
Roger

On Tue, Dec 12, 2017 at 10:38 AM, ☮Tord☃ <notifications@github.com> wrote:

[2017-12-12 23:07] SunyataZero commented on #96
@rogermeadows I've had my problems with the block quote myself, there are two things i have to keep in mind when using them: They end with an empty line and also i have to use `> ` for each new line inside of the quote itself. (Unfortunately many text editors doesn't make clear when there is a new line and when there's a word/line wrap)

[2017-12-12 23:14] SunyataZero commented on #96
@rogermeadows Okay i now see that in gitter it's possible to use mark the text you want to want to quote and press `q`

I found this from the gitter shortcut menu which i found is available when pressing `ctrl`+`shift`+`alt`+`k`. (Also there is a markdown help menu in gitter you can reach by using `ctrl`+`shift`+`alt`+`m`)

[2017-12-13 00:56] rogermeadows commented on #96
Thanks

On Tue, Dec 12, 2017 at 3:14 PM, ☮Tord☃ <notifications@github.com> wrote:

[2017-12-13 01:17] JedMeister commented on #98
:+1:

IMO this is a really good idea! Then you'll be able to get trusted contributors more involved.

The default permissions levels are documented [here](https://help.github.com/articles/repository-permission-levels-for-an-organization/). Although IIRC there is fairly fine grained control beyond the defaults once you've got the org set up.

I'd recommend that once you do that, you [protect](https

[2017-12-13 01:41] JedMeister commented on #97
I quite like some of the more complex branching methodologies that are around. Although sometimes, keeping it simple is best way to go!?!

Regardless, the best branching technique for this project will really depend on your release model. My suggestion would be to only ever have one "supported" release (i.e. current stable; although you can do beta/rc releases in the same way). If you do that, you

[2017-12-13 02:09] SunyataZero commented on #97
@JedMeister Thank you for your help! I agree about the release model, only one release should be supported. (About the using a single branch: I think i agree but need to consider this some more, there's a lot of new data for me to process :) )

[2017-12-13 19:34] rogermeadows commented on #97
@JedMeister Thanks for you input. I agree with supporting only one release. The main reason I am inclined to use multiple branches has to do with having a easy way to identify the level of stability (amount of successful testing) associated with a commit. However, there are other ways we could identify stability. We might use tags on the master branch to identify levels of stability. I am less con

[2017-12-13 21:51] JedMeister commented on #97
Automated testing FTW! There should be much more of it IMO! :smile:

As I hinted (perhaps not strongly enough). I think that major changes _should_ be developed in a separate development branch! IMO only bugfixes and minor modifications should be merged straight into master (and only after they've passed any tests). As I said, ideally the HEAD of master should always build successfully!

I really

[2017-12-16 17:39] mbed67 opened #102 "Systray icon behavior is the same for left and right mouse clicks on MacOS"
On MacOS (Sierra 10.12.6), given the main window is minimized and I'm not in full-screen mode
when I left-click or right-click (both have the same effect) on the systray icon,
then the main window is restored and I see the systray menu
I heard right and left clicks should behave differently, but they don't on my machine.

Both clicks give the following log output: DEBUG: entered on_systray_activat

[2017-12-16 17:44] SunyataZero opened #103 "Asking developers to work on the project with a positive motivation"
I sometimes get messages from people saying "i'm sorry i can't contribute more" etc and i'm concerned that people may do things on the project partly with a "should"/"ought" motivation/intention

I'd like to include text - perhaps in README.md - that makes it clear that we want people to do things "with the joy of a small child feeding a hungry duck"

[2017-12-21 16:55] SunyataZero opened #107 "Marking functions and variables as "protected" ("for internal use") using an underscore"
For variables which are not meant to be accessed from the outside we can add an underscore `_` to indicate that the variable is private. For more info see [this answer on SO](https://stackoverflow.com/a/1641236/2525237) and also [this answer](https://stackoverflow.com/a/1301369/2525237) as well as [the official documentation](https://www.python.org/dev/peps/pep-0008/):

To take on this issue pleas

[2017-12-22 21:11] SunyataZero opened #109 "Helpful information on how to practice?"
For example:
* asking the user to sit upright
* asking the user to breathe with her stomach
* explaining what mindfulness is - update: this is now covered on the home page (thank you @ap1459 for your contribution!)
* explaining the benefits of mindful breathing

[2017-12-23 20:30] rogermeadows opened #110 "Add a Makefile to simplify automated testing and possibly add builds."
I am used to having a Makefile at the top level of a repository that defines how various routine operations are performed. I would like to add a Makefile that supports at a minimum a make target of 'test'. With that in place the command 'make test' would execute any automated tests locally. Once this is in place, it can be added as a part of the repository clone setup process.

[2017-12-24 01:15] #98 closed

[2017-12-25 01:14] SunyataZero opened #111 "Error when importing QtMultimedia on Travis"
I'm getting this error in TravisCI (which is not seen locally):
[code]
This error occurs when importing QtMultimedia:

[code]

[2017-12-25 02:07] SunyataZero commented on #111
Solution 1: Switch to a "sudo setup" in Travis and install the `libpulse-dev` package

[2017-12-25 02:07] SunyataZero commented on #111
Solution 2: Wrap import statement and any code using the import inside `try` + `except` statements

[2017-12-25 02:15] SunyataZero commented on #111
Solution 3: Load a fake sound driver

https://stackoverflow.com/questions/15859196/travisci-no-audio-device

Example .travis config: https://travis-ci.org/k3it/qsorder/jobs/112413932/config

[2017-12-25 23:59] yigitsever commented on #95
Furthermore:
When the breathing phrase box (and the phrases list) is empty, trying to edit or move using the buttons will crass the application:
[code]
**To Reproduce**

- Delete all breathing phrases using the delete button (delete button can handle empty list)
`WARNING: No phrase selected`
- When the list is empty, click any other 4 buttons to the right
![image](https://user-images.githubusercon

[2017-12-26 00:08] yigitsever opened #113 "Adding Tooltips to GUI Elements"
I would like to suggest adding tooltips to buttons

![image](https://user-images.githubusercontent.com/9094218/34343673-66dbb258-e9e9-11e7-86d8-ef44c548fefe.png)

When I first started the application, I expected to see tooltips on the buttons because I couldn't immediately understand what they would do. After using them, I know what they do but I think my first impressions (as a newcomer) can be h

[2017-12-26 10:01] mandarvaze commented on #71
I think [instagram's monkeytype tool](https://github.com/Instagram/MonkeyType) might be useful tool to automate a whole lot of this.

See https://engineering.instagram.com/let-your-code-type-hint-itself-introducing-open-source-monkeytype-a855c7284881

[2017-12-26 13:55] SunyataZero commented on #109
We have decided to keep this type of information out of the application itself. The reason is that we want things to be simple. Now we need to decide if we want this info on the website, or even just links to more information about mindfulness and how it can best be practiced

[2017-12-26 14:13] SunyataZero commented on #71
@mandarvaze Thank you for the suggestion, i hadn't seen this before, interesting :+1:

I'll keep the issue though as a good one for first-time contributors, it's useful for getting into the code, making a pull request and maybe will add more quality to the code in cases where the automated system has a hard time knowing our intentions for how the in-parameter will be used in the future

[2017-12-26 15:07] SunyataZero opened #114 "Remove overlaps between dialogs/popups"
* [ ] When the rest window is open the rest notification can still be shown
* [ ] When the rest window is open the breathing dialog still pops up
* [ ] etc

Maybe we need a complete solution, perhaps the mc_globals file could contain the state of the application, or simply the main_win.py file?

[2017-12-26 15:38] SunyataZero commented on #6
Andy wrote: Because Ubuntu is based on Debian, I wonder if it would first be better to build a Debian package, and then adapt the Ubuntu package from that.

Also, are you wanting a package that meets Debian specifications, or just a package in Debian format that can be installed or removed with the Debian package manager.

To make a package that complies with the Debian policies, a few files will

[2017-12-26 15:38] SunyataZero commented on #6
@JedMeister wrote: FWIW if you can successfully build a Debian package which works, then it can (at least in theory) be rebuilt against any Debian based release and should also work there. As you're probably aware, a Debian package is built within a Debian chroot. You just use a different release chroot to build a different release package.

As @andy5995 notes, if you don't care about it getting i

[2017-12-26 15:47] SunyataZero commented on #30
Is this going to be the same limit as for the breathing dialog? As it looks now this would probably work, but in the future the breathing dialog may look different after user choice

[2017-12-26 15:53] SunyataZero commented on #42
Uncertain but we may need to install the "python3-pyqt5.qtmultimedia" package on Debian-based systems. One user reported that this may be the case but wasn't sure about the details. I haven't seen it on my own system though (Lubuntu 16.04)

[2017-12-26 16:29] SunyataZero commented on #69
Closing this issue but keeping this more general issue: https://github.com/mindfulness-at-the-computer/mindfulness-at-the-computer/issues/109

[2017-12-26 16:29] #69 closed

[2017-12-26 16:32] SunyataZero commented on #82
Closing this issue but keeping this more general issue: https://github.com/mindfulness-at-the-computer/mindfulness-at-the-computer/issues/109

[2017-12-26 16:32] #82 closed

[2017-12-26 16:43] SunyataZero commented on #94
Moved to this list: https://github.com/mindfulness-at-the-computer/mindfulness-at-the-computer/wiki/Feature-Ideas

[2017-12-26 16:43] #94 closed

[2017-12-26 16:45] SunyataZero commented on #93
Thank you for reporting this, i've written a question about this here: https://stackoverflow.com/questions/47711138/show-popup-window-when-in-fullscreen-mode-on-macos

[2017-12-26 16:50] #97 closed

[2017-12-26 16:56] SunyataZero opened #115 "Design review of the application"
A general design/ux review of the application

[2017-12-26 16:57] SunyataZero opened #116 "Mouse cursor becomes positioned over the background when breathing in"

[2017-12-26 16:57] Prash9 commented on #71
Hi , can I work on this issue? .

[2017-12-26 16:58] nishusharma1608 commented on #71
ya sure

On Tue, Dec 26, 2017 at 10:27 PM, Prashant <notifications@github.com> wrote:

[2017-12-26 18:30] #111 closed

[2017-12-26 21:44] SunyataZero commented on #5
Many solutions have now been tried, the latest was to simply catch the activated signal for the menu icon and then manually emitting the activated signal
[code]
(this worked for XFCE since the function is entered even on left click), but that produced this error on MacOS for @mbed67 :
[code]

Because of this i don't know what to do about this issue, maybe we could call "super()" for the systray bu

[2017-12-26 21:55] yigitsever commented on #5
Left clicking on system tray icon crashes the application for me:

[code]
Then:
[code]
Which goes on for a while until a stack overflow

I'm on xfce as well

[2017-12-26 21:55] SunyataZero opened #119 "Setting up automated code coverage"
We have successfully used CodeCov before but would like to find something that is less intrusive in the github PR system. Maybe Codacy's code coverage can be used:
https://github.com/codacy/python-codacy-coverage#setup

It may also be useful to start using coverage config files: https://coverage.readthedocs.io/en/coverage-4.5.1/config.html

[2017-12-27 00:55] andy5995 commented on #6
According to this, one must be a Debian maintainer to get his package into the Debian repo

https://www.debian.org/devel/join/

    Debian Maintainer (DM): The first step in which you can upload your own packages to the Debian archive yourself.
    Debian Developer (DD): The traditional full membership role in Debian. A DD can participate in Debian elections. Packaging DDs can upload any package t

[2017-12-27 11:17] yigitsever commented on #95
#118 addresses this issue but **does not solve** the case where the program starts with an empty phrase list

[2017-12-27 11:46] yigitsever opened #121 "Internationalization of GUI Elements"
Are there plans for translating the application to languages other than English?
A quick Google revealed it's pretty easy ([case 1](https://kuanyui.github.io/2014/09/03/pyqt-i18n/) [case 2](https://www.pythonstudio.us/pyqt-programming/internationalization.html)) with PyQt  (sorry if this is common knowledge for anyone)

So, linked with #113 (maybe #109), user strings should handle internationaliza

[2017-12-28 02:26] #116 closed

[2017-12-28 12:52] MagdaZawora commented on #71
Hi @SunyataZero, do you still need help from a very 'first-timer"?:)

[2017-12-28 13:08] MagdaZawora commented on #10
Hi @SunyataZero! Still looking for help with the issue?

[2017-12-28 15:57] SunyataZero commented on #71
@MagdaZawora Hi and welcome, this project is first-timer-friendly, we are happy to have your help! [This document](https://github.com/mindfulness-at-the-computer/mindfulness-at-the-computer/blob/master/CONTRIBUTING.md) has a lot of good info on how to get started, and you can always ask in the [gitter lobby chat room](https://gitter.im/mindfulness-at-the-computer/Lobby) if you run into any problem

[2017-12-28 15:59] SunyataZero commented on #10
@MagdaZawora Yes! Please feel free to work on this issue. If you use an IDE like Pycharm i believe it can help you find spelling errors. Kind Regards, Tord

[2017-12-29 16:09] SunyataZero opened #123 "Showing a system notification with the breathing phrases"
Allowing the user to get these system notifications a specified number of times between each breathing popup?

[2017-12-29 16:15] SunyataZero opened #124 "Information at first startup of the application"

[2018-01-02 22:18] jmlgh commented on #95
Getting the same error after deleting a single phrase (after confirmation on the pop up dialog box).

[2018-01-02 22:57] jmlgh opened #125 "Crash after deleting a phrase"
After confirmation on the delete popup box, the application crashes with error:

`TypeError: type object argument after * must be an iterable, not NoneType`

**To Reproduce**

- Select an existing phrase or create a new one
- Delete the phrase
- Confirm deletion by pressing ok in the popup window

[2018-01-03 13:31] yigitsever commented on #95
@jmlgh I was getting the same error on Manjaro Linux before #126, it's fixed now

[2018-01-03 13:42] #125 closed

[2018-01-03 13:54] jmlgh commented on #95
@yigitsever Good :)
After #126, are you still having the same error as described in #95?
In my case, after deleting all phrases the buttons become deactivated. If I close and reopen the app, there are still no phrases, the buttons still show up as deactivated, and the app doesn't crash, so you're issue appears to be solved also.

[2018-01-03 20:36] #123 closed

[2018-01-03 20:38] yigitsever opened #129 "Breathing Notifications and Rest Reminder Notifications Take Focus"
#128 introduced notifications, the notifications grab focus and can be interrupting

Suggesting to change them to built-in notifications, more info here https://wiki.archlinux.org/index.php/Desktop_notifications (at least for Linux flavours)

[2018-01-03 21:12] #129 closed

[2018-01-03 22:28] yigitsever commented on #121
After #130, suggesting this to stay open like #71 because it can be easy to miss wrapping strings with tr() calls

[2018-01-04 13:25] SunyataZero commented on #121
Just a note for translators:

[2018-01-04 13:30] SunyataZero opened #132 "Personal todo for Tord"
? change to one button (rather than three?), but also giving the option to exit in a discrete way
in, out, close

2. walk mindfully and do the activity

=========

Low priority:
[ ] starting a 2nd program - same, in other words only one instance can be run
[ ] setting the log level when starting the application, using a command line argument
[ ] add different test setups (no list items for example

[2018-01-04 13:30] #132 closed

[2018-01-04 15:49] SunyataZero opened #133 "Single breathing phrases (unmoving)"
Allowing the user to enter a single breathing phrase and leave the other empty. This should result in the breathing phrase being still in the breathing dialog

[2018-01-04 23:54] SunyataZero commented on #102
Closing this since this functionality has been removed for all systems (we are now handling the systray in the default way for Qt)

[2018-01-04 23:54] #102 closed

[2018-01-04 23:58] #5 closed

[2018-01-04 23:58] SunyataZero commented on #5
Closed again because this is now documented in the docs/platform-differences.md file

[2018-01-06 17:26] samie820 commented on #10
Hey I am really interested in contributing to the project, hope i am not too late?

[2018-01-07 01:05] SunyataZero commented on #10
@samie820 Hi, you are very welcome to contribute! (And i'm happy to hear about your interest in the project). I'm not sure how many spelling errors are left but if you can't find any maybe you can improve a sentence in the documentation or in the code comments? Kind Regards, Tord

[2018-01-07 07:55] flyer2403 commented on #10
Hi @SunyataZero I've corrected one spelling and two grammatical errors (eg. lot time -> lot of time) in the theory-and-background.md and user-perspective.md files. Will make a pull request.

This is my first contribution to Github, so thanks for this opportunity!

[2018-01-07 15:44] SunyataZero commented on #10
Thank you for sharing this, i'm glad to hear you are making your first contribution with our project!

[2018-01-10 20:38] SunyataZero opened #143 "Allowing the user to select a different directory where files are saved"
How do we move files when user selects another directory?

This is useful if the user has a directory that is backed up for example

[2018-01-13 04:43] Soujen commented on #71
Hey, mind if I work on this issue? Thanks(:

[2018-01-13 15:12] SunyataZero commented on #71
@Soujen Hi and welcome! Please feel free to work on this issue, also if you need any help you can join us in the [gitter chat](https://gitter.im/mindfulness-at-the-computer/Lobby) Kind Regards, Tord

[2018-01-13 22:15] SunyataZero opened #146 "How to deal with situation where the db file version is newer than the one used in the software"

[2018-01-14 19:24] SunyataZero commented on #132
### Code Collaboration Research
* https://guides.github.com/
* https://help.github.com/articles/github-flow/
* https://orga.cat/posts/most-useful-git-commands

[2018-01-14 19:38] SunyataZero commented on #132
### Useful Git Commands

#### git stash

`git stash save <message>`

will store your changes since the latest commit and then restore the previous state of the files

[2018-01-14 19:59] #42 closed

[2018-01-15 03:17] tankucukoglu commented on #71
#148

[2018-01-15 03:18] tankucukoglu commented on #71
#148

[2018-01-15 17:27] SunyataZero opened #149 "Creating a pip package"

[2018-01-16 22:35] yigitsever opened #151 "Breathing Phrase List & Rest Action List Bugs"
### Breathing Phrase List
- Clicking Edit / Move To Top / Move Up / Move Down  immediately after deleting a phrase crashes the applicaton (When no phrase is selected, it defaults to first phrase)
`TypeError: type object argument after * must be an iterable, not NoneType`

### Rest  Action List
- Clicking Edit / Move To Top / Move Up / Move Down without picking a rest action (without a highlighted

[2018-01-16 23:45] SunyataZero commented on #151
Thank you for reporting this, i've fixed a few of these issues but am continuing to work on the others. Maybe you're right that we need to have a more OO approach to this

[2018-01-19 15:35] dhairyakhale commented on #71
Can I work on this issue? Thanks!

[2018-01-20 14:06] SunyataZero commented on #71
@dgauraang You are very welcome to help out, thanks! I've invited you to [our gitter chat](https://gitter.im/mindfulness-at-the-computer/Lobby), please feel free to ask questions there about the application or contribution process. Kind Regards, Tord

[2018-01-21 13:53] SunyataZero opened #154 "Changing the "active" button color to light green"
This is the color seen for example in the rest dialog and which indicates which button or interface element that is available for keyboard input

[2018-01-21 14:06] SunyataZero opened #155 "Keyboard interaction: 'GraphicsView' object has no attribute 'start_breathing_in'"
[code]

[2018-01-21 18:14] SunyataZero opened #157 "Close on click for all notifications"

[2018-01-21 18:27] SunyataZero opened #158 "Documentation for multiple desktops"
http://doc.qt.io/qt-5/qdesktopwidget.html

[2018-01-21 18:29] SunyataZero opened #159 "[MacOS] Fullscreen rest window is not closed when `close()` is called"
No problem after commenting out the showFullscreen line

[2018-01-23 15:38] #159 closed

[2018-01-23 15:38] SunyataZero commented on #159
Moved here: https://github.com/mindfulness-at-the-computer/mindfulness-at-the-computer/blob/master/docs/upstream-bugs.md#macos-fullscreen-windows-not-closed-when-close-is-called

[2018-01-23 16:13] SunyataZero commented on #99
Not as important anymore because of the changed rest system. Moved to the wiki

[2018-01-23 16:13] #99 closed

[2018-01-23 16:19] SunyataZero commented on #124
Closing this as the basic structure is now complete

[2018-01-23 16:19] #124 closed

[2018-01-23 16:19] #133 closed

[2018-01-23 16:22] SunyataZero commented on #143
`shutil.move()` can be used to move files with Python

[2018-01-23 16:58] SunyataZero commented on #154
This issue was solved using this:
[code]

[2018-01-23 16:58] #154 closed

[2018-01-23 17:08] SunyataZero commented on #158
Added information here: https://github.com/mindfulness-at-the-computer/mindfulness-at-the-computer/blob/master/docs/platform-differences.md#virtual-desktop-and-multiple-desktops-etc

[2018-01-23 17:08] #158 closed

[2018-01-23 17:19] #155 closed

[2018-01-23 21:40] yigitsever commented on #151
Currently move up/down and to top/bottom does not respond for either of the lists regardless of a list selection or not

Edit is not responsive for breathing list

Editing rest actions crashes the application

[2018-01-24 13:46] SunyataZero commented on #151
@yigitsever

This has now been fixed, but unfortuantely the database needs to be deleted for the changes to take effect (see gitter discussion about implementing fixes for existing databases)

I cannot see these problems, can you delete your .db file and start and see if you can find this again? And can you write a new issue/issues when you do?

Thank you for your patience!

Kind Regards, Tord

[2018-01-24 13:46] SunyataZero commented on #151
Closing this issue as the problems mentioned in the issue are no longer there

[2018-01-24 13:46] #151 closed

[2018-01-24 13:47] #157 closed

[2018-01-24 15:41] #86 closed

[2018-01-24 15:41] SunyataZero commented on #86
mbed67 cannot see this problem any more, closing

[2018-01-24 16:50] SunyataZero commented on #93
Still a problem now

[2018-01-24 21:41] sanchaymittal commented on #71
Mind if i work on this issue?

[2018-01-24 22:24] SunyataZero commented on #71
@sanchaymittal Please go ahead! And welcome :) Kind Regards, Tord

[2018-01-25 17:58] SunyataZero commented on #143
Move to the wiki for now

[2018-01-25 17:58] #143 closed

[2018-01-26 14:57] SunyataZero commented on #109
I like the mini-tutorials given by breathaware.com in their automated emails

[2018-01-26 15:09] SunyataZero commented on #83
Closed after consulting with mbed67, we still have this issue open: #96

[2018-01-26 15:09] #83 closed

[2018-01-26 15:10] SunyataZero commented on #96
Once the application architecture has been established we could perhaps give a visual overview of the structure of the application

[2018-01-26 16:25] SunyataZero opened #163 "Travis build fails at unittest"
[code]

This bug happened after making documentation changes so it seems there is some problem with Travis behind this issue. Also there is no problem running the test locally

Search terms suggestion:

[2018-01-26 17:50] SunyataZero commented on #163
This may help solve the issue: https://docs.travis-ci.com/user/common-build-problems/#Segmentation-faults-from-the-language-interpreter-(Ruby%2C-Python%2C-PHP%2C-Node.js%2C-etc.)

[2018-01-26 22:09] #63 closed

[2018-01-26 22:19] SunyataZero commented on #163
Have now tried using Python 3.5 (instead of 3.6) and the same problem occurs

[2018-01-27 11:34] SunyataZero commented on #29
Moving this to the wiki, because it is low priority (at least for now)

[2018-01-27 11:34] #29 closed

[2018-01-27 15:49] SunyataZero commented on #28
Closing for now. We can change this later in case there is a collision with another package name

[2018-01-27 15:49] #28 closed

[2018-01-31 07:11] deferred commented on #70
Link doesn't work. Working link: https://codecov.io/gh/mindfulness-at-the-computer/mindfulness-at-the-computer

[2018-01-31 11:18] SunyataZero commented on #70
@deferred Thank you for noting this, we have actually removed this code coverage tool now, after having moved to another domain name. Still code coverage can be increased by writing auto tests of course

[2018-02-02 07:49] yuzhoujr commented on #79
Can I please do this! First timer here

[2018-02-02 08:02] yuzhoujr commented on #79
I don't mind helping, needs to know 2 things:
1. where do I find the screenshots?
2. what location you would like to me post on your md file.

[2018-02-02 08:06] yuzhoujr commented on #79
I think I might have found the screenshots @ https://mindfulness-at-the-computer.github.io/screenshots/
Do you need all screenshots to be formatted under your rules? Can the image be cropped to have a relatively healthy looking?
Also where exactly are you needing them in the md files.

[2018-02-02 14:19] SunyataZero commented on #79
@yuzhoujr Hi and welcome! You can use a screenshot tool to grab a few screenshots from the application, perhaps of the breathing dialog and of the settings window and one of the popups. I think the screenshots can perhaps be positioned right after the first paragraph of text in the readme file.

How do you mean cropped? I think that is okay though. If you want we can discuss more here:
https://git

[2018-02-05 13:48] SunyataZero opened #173 "Setting for moving the mouse cursor?"

[2018-02-07 08:21] SunyataZero opened #177 "Walking meditation integrated?"
counting the steps
walking gatha

[2018-02-08 14:01] SunyataZero commented on #163
Importing audio doesn't seem to be related to the issue since we catch this exception in the code

[2018-02-08 14:34] SunyataZero opened #184 "Error handling for end users"
https://docs.python.org/3/tutorial/errors.html

[2018-02-08 19:17] dgets opened #185 "[xfce]Second window on 1st run ("How to use this wizard") opens with too small of geometry for contents"
Upon the first run on my Debian 9 system, running xfce, the 2nd window which opened, titled _How to use this wizard_ opened with a geometry insufficient for the 4th numbered point text line at the bottom.  Not sure if this happens on all platforms, but it at least has the capability for this inconvenience.

The window could be resized, so it was not hard to expand and view the 4th point, but this

[2018-02-08 19:32] SunyataZero opened #186 "Adding a setting for allowing "close on hover" for the breathing dialog"

[2018-02-10 08:05] #186 closed

[2018-02-10 08:09] SunyataZero commented on #185
The intro dialog has now been changed with new pages, thank you @mbed67 !

@dgets Can you look to see if the contents of the pages in the new design are fully shown on XFCE?

[2018-02-10 14:57] SunyataZero opened #191 "Integrating mindful walking?"

[2018-02-10 14:58] SunyataZero commented on #191
Duplicate

[2018-02-10 14:58] #191 closed

[2018-02-10 22:36] SunyataZero opened #193 "Improving the layout for the settings window?"
* Reorganizing the columns (panels) in the settings window?
  * Maybe moving the breathing dialog settings to the column used for the breathing history
* Adding a vertical line separating the rest and breathing panels
* Including a breathing break + breathing notification + rest preview
* Rest list box same height as the breathing list box?

We may want to move some of the settings into the main m

[2018-02-11 18:27] SunyataZero opened #196 "Move lib files into separate directory to make it easier to find the binary file?"

[2018-02-11 18:57] SunyataZero opened #197 "Gather and process user feedback"
User feedback can be discussed in the [design chatroom](https://gitter.im/mindfulness-at-the-computer/design)

[2018-02-11 19:48] SunyataZero opened #198 "Use a custom text in the breathing notifications"
* ~~Using the active breathing phrase (as now)~~
* ~~Using the first breathing phrase in the list (default is "breathing in i know i am breathing in")~~
* Using a custom text like "smile!", "breathe", or similar

Default ideas:
* Please adjust your posture and be aware/mindful of your breathing

[2018-02-11 19:49] SunyataZero opened #199 "Adding the option of disabling the breathing dialog?"
without turning off the breathing notifications

[2018-02-11 19:49] SunyataZero opened #200 "Adding a text at the end of the wizard describing how to launch the wizard again"

[2018-02-11 23:17] SunyataZero commented on #100
We have a new logo thanks to @yuzhoujr !
We now need to
* [ ] create various sizes of this logo for the application icon
* [ ] create versions with B and R (for indicating what notifications are enabled)
* [ ] (also add the logo to the website, about dialog, and other places possibly)

[2018-02-12 16:40] SunyataZero opened #201 "Multiple audio streams are open at once"
![image](https://user-images.githubusercontent.com/10245688/36107929-ce8420a4-101b-11e8-8229-766332824d0b.png)

[2018-02-12 17:57] SunyataZero opened #202 "Create videos showing how the application can be used"
Maybe on youtube, or on a free media platform like for example mediagoblin

[2018-02-12 18:44] SunyataZero opened #203 "[Windows] Failed to execute script pyi_rth_qt5plugins"
After building on Windows 7:

When the application is started:

[2018-02-12 21:45] SunyataZero commented on #203
Some ideas for how to solve this:
* https://www.reddit.com/r/learnpython/comments/58sta7/error_when_trying_to_package_a_pyqt5_app_using/
* https://stackoverflow.com/questions/43023581/python-pyinstaller-failed-to-execute-pyi-rth-pyqt5plugins (see comment)
* https://github.com/pyinstaller/pyinstaller/issues/2604

[More here](https://www.google.se/search?client=ubuntu&hs=eqi&channel=fs&dcr=0&ei=oAOC

[2018-02-12 22:09] SunyataZero commented on #95
Removing all entries from the breathing phrase list and then starting the application will give the following error (which crashes the application):
[code]

[2018-02-12 22:52] SunyataZero commented on #203
It can be useful to activate this when building:

`-d, --debug` - Tell the bootloader to issue progress messages while initializing and starting the bundled app. Used to diagnose problems with missing imports.

[2018-02-13 02:43] SunyataZero opened #205 "Increase inner padding/margins for list boxes?"
Something like this but for the top as well:

![padding](https://user-images.githubusercontent.com/10245688/36131153-c6971374-1070-11e8-8a5d-0c62547c060d.png)

[2018-02-13 02:57] SunyataZero opened #206 "Rest list box same height as the breathing list box?"

[2018-02-13 11:01] SunyataZero opened #208 "After building with pyinstaller: Console shown on MacOS"
even after using the window flag when building

[2018-02-13 11:52] SunyataZero commented on #201
We may be able to use this to debug: http://doc.qt.io/qt-5/qsoundeffect.html#playingChanged

[2018-02-13 11:54] SunyataZero commented on #201
This problem seems to be able to cause static in the audio, i saw that when trying to make a VOIP call i got static but after closing the application the static was removed. *This may be because of the application using audio in general though and not because there are multiple audio streams*

[2018-02-14 17:29] SunyataZero commented on #163
This may be the cause of our problem: https://bugreports.qt.io/browse/QTBUG-64928

[2018-02-14 17:30] SunyataZero commented on #163
One workaround is to set a specific version for the requirements in the requirements.txt file

[2018-02-15 09:24] deepthinidwannaya opened #213 "Remove tracking of files in gitignore"
There are certain files which are tracked by git though they are in gitignore. These should be cleaned up

[2018-02-15 20:44] SunyataZero opened #215 "Allowing the user to customize the help text for the breathing dialog?"
For example, the user may write: Please adjust your posture and sit upright

[2018-02-16 05:05] TheConObs commented on #206
I know I brought this one up but could be tricky given the fluidity of the screen contents as you drag the corner around and things resize "responsively" not to mention the differences between platforms.

Hmm...

[2018-02-16 13:33] SunyataZero commented on #206
@TheConObs Okay, but it can be good to have this here so we are aware, not sure how other applications deal with this sort of thing, Qt has a lot of options when it comes to resizing, you can add "stretches" which fills up unused space a specified percentage for example

[2018-02-16 13:51] #163 closed

[2018-02-16 15:03] SunyataZero commented on #203
This was not a problem when building on Windows 7 SP1 Ultimate on virtualbox, unknown why. Perhaps because of using newer versions of pyinstaller and python and pyqt5

[2018-02-16 15:07] #173 closed

[2018-02-16 15:44] #203 closed

[2018-02-16 15:51] SunyataZero opened #217 "Presenting the benefits of mindfulness"
Perhaps on the website

WIP can be seen here: https://github.com/mindfulness-at-the-computer/mindfulness-at-the-computer/wiki/Mindfulness

[2018-02-16 15:52] SunyataZero opened #218 "Adding a phrase about the posture"
This is related to this issue: #215 Adding a note about the posture as an alternative help text can be one way to achieve the same goal

[2018-02-16 15:53] SunyataZero opened #219 "Adding a phrase about slowing down"

[2018-02-16 15:57] SunyataZero commented on #39
"cannot open self" and then a long address

[2018-02-17 21:23] SunyataZero commented on #67
This is not seen now (alpha 4) on Windows 10, closing this issue

[2018-02-17 21:23] #67 closed

[2018-02-17 21:24] SunyataZero opened #221 "Using relative paths for the audio and other files"
The advantage of this would be that we can move the application and the application will still work. It would be "portable", (it would be possible to have the application running from an usb drive for example)

One of our users have requested this feature (to make the application portable)

[2018-02-17 21:25] SunyataZero opened #222 "[Windows 10] Remove aliasing from breathing dialog graphics text"
This is what it looks like on Windows (failing): https://drive.google.com/file/d/12SURANcEN3RncmvhnP1bLl_kB37yYFtn/view?usp=sharing

And there is the video for gnu/linux (succeeding): https://drive.google.com/file/d/1a_iIpmcKPKr0Cg_OR38rp6XugKGr60QO/view?usp=sharing

On MacOs it looks like this:
https://drive.google.com/file/d/1m6_P4Tx2K6sB7w64izxywzliamRvOC-w/view?usp=sharing

[2018-02-18 10:27] SunyataZero opened #223 "Cleanup of background noise for audio files"

[2018-02-19 07:41] yigitsever commented on #223
Can you elaborate? files under /user_files/audio do not have background noise as far as I can tell

[2018-02-19 07:44] yigitsever commented on #218
+1 from me, although user can add a custom long breathing phrase or rest action (i.e. Sit upright and relax)

[2018-02-19 15:45] SunyataZero commented on #223
It's barely noticeable but i could hear some birds chirping etc when increasing the volume on my brother's computer. This is perhaps such a low-prio issue that we can close it?

[2018-02-19 16:26] yigitsever commented on #223
I don't see it as an issue at all, I thought it was intentional

[2018-02-19 17:51] SunyataZero commented on #223
Okay, i'm closing this, one less issue to worry about!

[2018-02-19 17:51] #223 closed

[2018-02-20 00:06] SunyataZero opened #224 "Only allow a single instance to run"
One approach is to use a lock file, the problem with this is if the application exits with a segfault for example

Two ways to hook into the exiting of the application:
* http://doc.qt.io/qt-5/qcoreapplication.html#aboutToQuit
* https://stackoverflow.com/questions/19127777/a-python-segmentation-fault

We can warn the user using a popup if the application is already running, here we could also say

[2018-02-20 17:03] SunyataZero commented on #222
The code uses the function setRenderHints, and when Qt says "hints" i think that means that it's not certain that this will be done, i guess because there are so many platforms supported
[code]

[2018-02-20 17:03] SunyataZero commented on #222
People in the pyqt chat room on freenode IRC may be able to help us with this

[2018-02-21 20:21] ap1459 commented on #103
Hi @SunyataZero, I think this is a fantastic idea and would love to have a go at contributing towards this. Perhaps going on what you have already mentioned and include it in the README.md?

[2018-02-21 22:11] SunyataZero commented on #103
@ap1459 Hi and welcome! I'm glad you like this idea, our motivation when working is so important. Yes please include something in the readme file, if you [create a PR](https://github.com/mindfulness-at-the-computer/mindfulness-at-the-computer/blob/master/CONTRIBUTING.md#pull-requests) with some changes we can discuss further if you like? Kind Regards, Tord

[2018-02-23 15:11] #213 closed

[2018-02-23 20:19] ap1459 commented on #217
Hi again @SunyataZero , I noticed this was topic was mentioned but not answered on the FAQ page on the Wiki. I would love to have a go at contributing to this! Though I'm not sure how I could add it to the website as the relevant HTML and CSS files are not available in the repository. Have I missed something or are they not a part of this repository?

At any rate, I would be happy to write somethi

[2018-02-24 12:57] SunyataZero commented on #217
@ap1459 Good questions! I'll move this discussion [here](https://gitter.im/mindfulness-at-the-computer/Lobby), (hope that's okay)

[2018-02-28 12:15] yigitsever opened #228 "Implementing Doctests and Unittests"
This issue regards implementing Doctests where the functionality should be throughly documented and unittests where we can silently test functionality (e.g. on_move_to_top_clicked)

[2018-02-28 14:50] SunyataZero opened #229 "Add a silent/movie mode"
When this option is activated, the user can choose the amount of time to have silent

Do we also want to disable the breathing dialog?

[2018-02-28 17:34] mbed67 opened #230 "Make sure the application is installed in such a way that it runs on startup"
Right now, when you reboot your computer, you have to manually start the application again. Users may forget this. A setup script can be made that can be run optionally.

* [x] MacOS - mbed67
* [ ] Windows
* [ ] GNU/Linux

[2018-03-01 12:24] SunyataZero opened #231 "Don't show (skip) the breathing notification if the breathing dialog is shown"

[2018-03-01 15:19] #208 closed

[2018-03-01 15:38] SunyataZero commented on #221
When choosing variable names for the database it may be good to call it "relpath" instead of just "path", for example instead of `self.breathing_reminder_audio_path_str` we can write ``self.breathing_reminder_audio_relpath_str

[2018-03-01 18:15] chef-mukul commented on #231
What do you mean by breathing notifications?

[2018-03-01 21:13] JedMeister commented on #230
Should be fairly easy on Linux. so it should be possible to provide 3 variants, one each for Mac, Windows and Linux. I know nothing about Mac and am very rusty with Windows, but Linux should be easy. :smile:

This should work for most (if not all Linuxes):
[code]

[2018-03-01 21:21] JedMeister commented on #221
I'm not a python programmer, so I have no idea how this "should" be done. But I imagine that if you have a `base_dir` or `install_dir` variable defined, then you could easily use relative paths by simply adding the relative path the to `base_dir`. I.e. `path_to_file = base_dir + relpath`.

Having said that, I'm sure that there's probably a "best practice" way of achieving that.

[2018-03-01 21:25] #201 closed

[2018-03-01 21:29] SunyataZero commented on #231
@chef-mukul I realize now that this is not described anywhere, but the breathing notification is this popup shown in the lower right corner:

![image](https://user-images.githubusercontent.com/10245688/36870578-e122317e-1d9f-11e8-9b1f-75b51220fc8f.png)

(And the breathing dialog is the interactive dialog in the middle center of the screen)

[2018-03-01 22:07] chef-mukul opened #234 "[Qt 5.10] Error - This Windows version does not support the required Bluetooth API"
![error_blutooth_pyqt5 10](https://user-images.githubusercontent.com/9193291/36872272-bb83a418-1dca-11e8-814c-f2e99e013272.JPG)

System - Windows 8.1
PYQT - 5.10

This error was resolved after i revert back to PyQT 5.9

Additional details :- https://stackoverflow.com/questions/48514027/spyder3-python-ide-does-not-start-this-windows-version-does-not-support-the-re

[2018-03-02 12:54] SunyataZero opened #235 "Increase ease of installation on Windows"
Right now the use will get a warning about “unidentified publisher” (Win 10), and in one case it was even reported that the .exe file was automatically removed by an anti-virus program (Norton)

To fix this we may need to add a manifest file when building with pyinstaller: https://pyinstaller.readthedocs.io/en/stable/usage.html#windows-specific-options

[2018-03-02 13:44] SunyataZero commented on #235
This is what the manifest file for alpha 4 looks like (no editing done):

[code]

And this is what the file looks like after building without a .spec file but with the --uac-admin option:
[code]

[code]

[2018-03-02 14:34] SunyataZero commented on #235
See this file for an example of a manifest file: https://github.com/notepad-plus-plus/notepad-plus-plus/blob/master/PowerEditor/src/notepad%2B%2B.exe.manifest

[2018-03-02 14:40] SunyataZero commented on #235
trustInfo: https://msdn.microsoft.com/en-us/library/6ad1fshk.aspx

[2018-03-02 14:44] SunyataZero commented on #235
It may not be possible to solve this issue:
https://social.msdn.microsoft.com/Forums/windowsdesktop/en-US/bb01bbe6-9ea3-48e2-9bf1-7953977b5b83/unidentified-publisher-when-my-application-is-being-launched?forum=vcgeneral

So it seems we need a certificate, which costs a lot of money

[2018-03-03 13:59] Theonimfi opened #236 "Request for contribution"
I just download the mindfulness at the computer.I found your idea really interesting and usefull and I'd like to contribute to this. Is there anything that needs improvement?

[2018-03-03 15:13] mbed67 commented on #230
MacOS has two ways of doing this. You can either use a launchd .plist file, which can be installed in ~/Library/LaunchAgents. But this doesn't keep the regular user 'in control'.
The other ways is that as a user, you can choose which applications to run on login by going to System Preferences  - Accounts - Login Items and adding mindfulness-at-the-computer.
This way the user can easily remove the

[2018-03-05 07:21] JedMeister commented on #230
@SunyataZero pointed me to this existing desktop file: https://github.com/mindfulness-at-the-computer/mindfulness-at-the-computer/blob/master/varia/mindfulness-at-the-computer.desktop

That should do the trick! If we copy that to `~/.config/autostart/` then it should all "just work" :tm: !

@mbed67 - when you say adding a `.plist` file to `~/Library/LaunchAgents` "doesn't keep the regular user 'in

[2018-03-05 17:48] SunyataZero commented on #235
Looking at other applications like rednotebook this seems to be a problem there as well:

![image](https://user-images.githubusercontent.com/10245688/36990662-b67d4fea-20a5-11e8-811a-ab5b8fc61b0c.png)

Closing this issue and adding the "won't fix" tag

[2018-03-05 17:48] #235 closed

[2018-03-05 17:52] SunyataZero commented on #236
@Theonimfi Hi and welcome! I saw that you had a discussion with Marieke and she gave some great links. Also there is this chat room if you want to check it out: https://gitter.im/mindfulness-at-the-computer/Lobby Kind Regards, Tord

[2018-03-05 18:56] mbed67 commented on #230
@JedMeister You are right that the user has control over the `~/Library/LaunchAgents` directory. However, I assume that most mac users will know about `Preferences - Accounts - Login Items` and not about the `~/Library/LaunchAgents`. So if they would want to undo it, that would not be the place for them to search. I thought that adding something to Login Items manually would add a .plist file some

[2018-03-05 21:38] JedMeister commented on #230
@mbed67 - Perhaps I'm missing something, but I'm envisioning, that it would be a checkbox within the app's config page. Something like:

:ballot_box_with_check:  auto start on login

And that the app itself writes (or removes, as appropriate) the required file behind the scenes. So how "user friendly" the process is at this stage is not so important IMO. It's more a matter of making sure it works.

[2018-03-06 08:08] mbed67 commented on #230
@JedMeister `checkbox within the app's config page`: I like the idea of that!
About the user-friendliness, I do think it is important, also at this stage. I don't like the idea of the user having to google his or her way out of a situation. But a checkbox at the config page seems like a good idea to me :-)
The varia directory is not a directory that is seen by launchd, the service that makes sure

[2018-03-06 16:43] SunyataZero opened #237 "Add the possibility to have only a single phrase"
This text can then be shown statically, while the background square changes size.

* maybe we can add an example in the default setup
* document this for the user as well
  * in the intro wizard (maybe)
  * on the web site

Design question: Do we want to have a checkbox for this in the user interface that enables/disables this option, or do we want to simply have it more discretely, by using the o

[2018-03-06 16:44] SunyataZero opened #238 "[Windows] Norton antivirus removes the .exe file without giving the option to keep the file"

[2018-03-07 11:06] #236 closed

[2018-03-07 12:04] SunyataZero opened #239 "Adding a notification before the breathing dialog is shown"
Add a notifiction that a breathing break is coming up maybe 30 seconds before the breathing break (which will show the breathing dialog)

Also it would be good if we can give the user the option to hover in the intro dialog/wizard

Another thing that we could do is to remove the breathing reminder

[2018-03-19 19:58] JedMeister commented on #224
What about a warning that the application "appears to be already running", with an option for the user to "force start" (and for the app to remove the lock file for the user)?

On Posix systems (e.g. Linux, BSD, MacOS, ...) there are a range of ways to check for a running process which would in some ways be superior to a lock file (for [example](https://stackoverflow.com/a/31997847/3363571)). But

[2018-03-20 01:12] JedMeister commented on #238
Certainly an issue worthy of note, however, I question whether this is a mindful@PC bug?!

IMO it's a Norton bug, with a simple solution: uninstall Norton and get a decent reputable anti-virus! :rofl: - Sorry, joking...!

It may be worth sending then an email with a copy of the `.exe` and ask for their advice on avoiding their AV heuristics?

Also, whilst it may not be possible to explicitly keep

[2018-03-20 11:05] SunyataZero commented on #224
I like this approach, what do you think @deepthinidwannaya ?

[2018-03-20 11:07] SunyataZero commented on #238
@JedMeister The user named Mat wrote the comment here: https://discourse.suttacentral.net/t/mindfulness-at-the-computer-alpha-4-release/8354/4

I don't like it that he doesn't even have an option to continue or whitelist

[2018-03-21 11:45] goswami-rahul commented on #71
I am too taking this issue :)

[2018-03-21 12:18] SunyataZero opened #243 "[MacOS] Application crash during install (right after opening the disk image)"
Found by F

[code]

[2018-03-21 12:57] SunyataZero commented on #218
Closing this issue as we now have added a preparatory notification which includes a note on the posture

PR: https://github.com/mindfulness-at-the-computer/mindfulness-at-the-computer/pull/242

[2018-03-21 12:57] #218 closed

[2018-03-21 13:00] SunyataZero commented on #239
Implemented in this PR: https://github.com/mindfulness-at-the-computer/mindfulness-at-the-computer/pull/242

[2018-03-21 13:00] #239 closed

[2018-03-21 13:10] SunyataZero commented on #219
moved to the wiki

[2018-03-21 13:10] #219 closed

[2018-03-21 13:14] SunyataZero commented on #215
Adjusting posture is now covered in the preparatory notification, but maybe there are other things that we want to place here instead

[2018-03-21 13:35] SunyataZero commented on #202
I've posted this question here about some issues related to videos: https://diasp.eu/posts/63ba86500f3a0136ef0b4061862b8e7b

[2018-03-21 15:21] SunyataZero commented on #205
PR: #244

[2018-03-21 15:40] SunyataZero commented on #231
PR: #245

[2018-03-22 14:11] SunyataZero opened #246 "Adding a "copy" button to the system information dialog"
-to make it easier for users to provide system details with bug reports etc

[2018-03-22 16:06] SunyataZero commented on #229
Ref: https://github.com/mindfulness-at-the-computer/mindfulness-at-the-computer/pull/247

[2018-03-23 14:24] emwani1 commented on #246
Is any working on this?

[2018-03-23 16:40] SunyataZero commented on #246
@emwani1 Hi, sorry i forgot to assign myself to this issue, i've just completed a PR. I can try to find another issue for you though if you like?

[2018-03-23 19:13] emwani1 commented on #246
@SunyataZero  Yes that will be nice

[2018-03-24 11:25] #205 closed

[2018-03-24 11:28] #246 closed

[2018-03-24 11:30] SunyataZero commented on #246
@emwani1 Can you join us here in the application chat? https://gitter.im/mindfulness-at-the-computer/Lobby
And welcome!

[2018-03-24 11:32] #231 closed

[2018-03-25 10:58] mbed67 opened #249 "Setting an intention"
Given the following scenario: the user takes a break. When the user wants to return to work, he/she could (optionally) type in an intention to continue

[2018-03-26 19:34] georgedorn opened #250 "Feature suggestion: Sync multiple computers"
I use two computers at my desk (with a KVM) and would like both to prompt with reminders at the same time, in case I'm not looking at the one running the app at the time, and to reduce my subconscious urge to take a 'break' from one by switching to the other.

This probably requires some networking.  Some ideas:
- run a lightweight web daemon; designate one instance as the server; use the server's

[2018-03-26 19:38] georgedorn commented on #228
In my experience, unit tests are generally preferable to doctests; it's too easy to accidentally stop running doctests when upgrading python or switching test runners.

However, there are ways to explicitly find and execute doctests, depending on the test runner.

[2018-03-27 13:35] SunyataZero opened #252 "Setting and writing an intention"

[2018-03-27 14:09] SunyataZero commented on #250
@georgedorn Thank you for reporting this, and i'm glad to hear that you are using the software! Yes please feel free to try to solve this if you want (i'm not good at web programming myself unfortunately). Also you can join us here if you want to brainstorm different approaches/ideas: https://gitter.im/mindfulness-at-the-computer/Lobby

[2018-03-27 14:11] SunyataZero commented on #252
Duplicate

[2018-03-27 14:11] #252 closed

[2018-03-27 14:42] SunyataZero commented on #177
Moved here: https://github.com/mindfulness-at-the-computer/mindfulness-at-the-computer/wiki/Feature-Ideas

[2018-03-27 14:42] #177 closed

[2018-03-27 14:57] SunyataZero commented on #56
Moved to "removed" here: https://github.com/mindfulness-at-the-computer/mindfulness-at-the-computer/wiki/Feature-Ideas#removed

[2018-03-27 14:57] #56 closed

[2018-03-27 15:07] SunyataZero commented on #206
I'll move this into the larger issue [Improving the layout for the settings window?](https://github.com/mindfulness-at-the-computer/mindfulness-at-the-computer/issues/193)

[2018-03-27 15:07] #206 closed

[2018-03-30 10:18] #229 closed

[2018-03-31 11:43] mbed67 commented on #243
I sent the user a new dmg, built from the latest changes, and it works for him now.

[2018-03-31 11:43] #243 closed

[2018-04-03 11:28] SunyataZero commented on #215
Moved here: https://github.com/mindfulness-at-the-computer/mindfulness-at-the-computer/wiki/Feature-Ideas

[2018-04-03 11:28] #215 closed

[2018-04-03 11:42] SunyataZero commented on #193
Also see this issue: https://github.com/mindfulness-at-the-computer/mindfulness-at-the-computer/issues/199

[2018-04-03 14:29] #103 closed

[2018-04-03 14:37] #249 closed

[2018-04-03 14:37] SunyataZero commented on #249
We are thinking of creating a separate application based on this idea

[2018-04-03 14:41] SunyataZero commented on #250
@georgedorn I looked at [workrave](http://www.workrave.org/) and they seem to use the local network for this:

![image](https://user-images.githubusercontent.com/10245688/38256029-a26412c2-375d-11e8-807e-6883b33e5d1a.png)

![image](https://user-images.githubusercontent.com/10245688/38256091-ca523b42-375d-11e8-9791-0cefb7fd326b.png)

[2018-04-03 14:43] SunyataZero commented on #221
WIP on open PR: https://github.com/mindfulness-at-the-computer/mindfulness-at-the-computer/pull/254

[2018-04-04 12:40] SunyataZero opened #255 "Display remaining time in the systray icon"
Maybe using a vertical mini-progress-bar

When we have implemented this we can also remove the boxes shown in the sytray menu

[2018-04-04 13:12] SunyataZero commented on #193
mbed67 wrote:

[2018-04-04 13:32] SunyataZero opened #256 "Deciding on what breathing phrase to show in the breathing dialog"
We could allow the user to choose between different options:
* random
* (next)
* same (this is what we have right now)

and we could even make the application smart and randomize if the same phrase will be used or if it will change always between two breathing notifications:
* always change
* change after x number of times
* change with x percentage chance

#### User perspective

I (Sunyata) have

[2018-04-04 13:43] SunyataZero opened #257 "Adding a user notification when exporting data"
Also: Updating the file name to include the time and date when the export was done

Nice to have: User can click a link to get to the directory (so that it's opened in the file manager that she uses)

QMessageBox: http://doc.qt.io/qt-5/qmessagebox.html#information

[2018-04-04 15:04] mbed67 commented on #256
I think I would benefit as well from such a feature

[2018-04-04 22:37] SunyataZero opened #258 "[Win10] Application failed to start because it couldn't find the Qt platform plugin "windows""
and the message continued, but the user couldn't see the rest because something else on the desktop was in the way

User OS: Windows 10

User who found this: A

[2018-04-05 11:21] SunyataZero opened #259 "Deciding how the upgrade of the application is done"
Is this something that is automated? Do we ask the user to do it manually?

[2018-04-05 11:54] SunyataZero opened #260 "Can't run the program on Windows 10"
Hi,
I downloaded WINDOWS ALPHA 4 from here:
https://mindfulness-at-the-computer.github.io/downloads/
Then I unzipped the archive and when I double click mindfulness-at-the-computer.exe
I get the following error:
![1](https://user-images.githubusercontent.com/8938883/38339175-92438dbe-3875-11e8-919e-be326aea4c58.png)

***

Reported by @theprofi originally

[2018-04-05 12:03] SunyataZero commented on #259
Ideas of where to ask/look:
* pyqt at freenode IRC

If this is purely a python thing (with no involvement from Qt) we can ask in any python forum (and there are many!)

[2018-04-05 12:11] SunyataZero opened #261 "Adding option to show (or not) the breathing dialog when the application is launched?"

[2018-04-05 12:25] SunyataZero commented on #199
I worry about giving this as an easy option to set as this is the most important and central part of the application. However it is possible to reach the breathing dialog in other ways than through the timer

[2018-04-05 12:28] SunyataZero commented on #255
What about the time remaining until the next breathing pause?

[2018-04-05 12:47] SunyataZero opened #262 "Idea: Always start with breathing in, out"

[2018-04-05 12:52] SunyataZero commented on #197
Also here is a long discussion with Buddhist practicitioners: https://discourse.suttacentral.net/t/mindfulness-at-the-computer-alpha-4-release/8354/

[2018-04-05 13:14] SunyataZero opened #263 "Adding a text for the breathing history when it is empty"

[2018-04-09 13:41] SunyataZero commented on #237
This was already added :) We may want to add one of these as default phrases though, but that is perhaps low prio for now

[2018-04-09 13:41] #237 closed

[2018-04-09 13:42] SunyataZero commented on #196
We have gotten user feedback from an Ubuntu user that it was difficult to find the executable file

[2018-04-09 13:45] SunyataZero commented on #256
Random and same has now been added as options in the application settings. Reference: https://github.com/mindfulness-at-the-computer/mindfulness-at-the-computer/pull/254

[2018-04-09 13:45] #256 closed

[2018-04-09 13:46] SunyataZero commented on #221
Now implemented in this PR: https://github.com/mindfulness-at-the-computer/mindfulness-at-the-computer/pull/254

[2018-04-09 13:46] #221 closed

[2018-04-09 13:51] SunyataZero commented on #221
(This has now been verified as working in a build)

[2018-04-10 11:36] SunyataZero commented on #199
Moved to this list: https://github.com/mindfulness-at-the-computer/mindfulness-at-the-computer/wiki/Feature-Ideas

[2018-04-10 11:36] #199 closed

[2018-04-10 11:40] #257 closed

[2018-04-11 11:09] SunyataZero opened #266 "Removing the short phrases"

[2018-04-11 11:16] SunyataZero opened #267 "Removing the single phrase option"
mbed67 wrote:

[2018-04-11 12:03] #30 closed

[2018-04-11 12:39] SunyataZero commented on #196
https://stackoverflow.com/questions/49775415/how-to-put-all-library-so-dll-files-in-a-subdirectory

[2018-04-11 15:49] SunyataZero opened #269 "Redesigning the preparatory notification"

[2018-04-13 11:34] #266 closed

[2018-04-13 12:14] SunyataZero opened #271 "What to do with the breathing history?"
Some options:
* Show breathing history with the settings (as now)
* Show breathing history in a separate window
  * and optionally: Showing the breathing history when the user exits the application
* Show only breathing history for the current session
* Show breathing history for previous sessions as well (this means that we need to store data in the db)
* Show the time of the breathing

This issu

[2018-04-13 19:31] SunyataZero commented on #196
"Hi all! Is there any way to move all .dll/.so files to a separate directory? (To make it easier for new users to find the executable)"

[2018-04-14 13:10] SunyataZero opened #273 "Switch the notifications with each notification when they are random"
Marieke: Can we switch them on every occurrence of the notification? New notification, new random phrase?

Tord: Well wouldn't this be a bit much for the user to process? I'm not sure. On the other hand if the user isn't looking at it anyway. I need to think about this

[2018-04-16 13:39] SunyataZero commented on #196
[code]

[2018-04-16 14:18] SunyataZero commented on #196
We may need to use this: https://pyinstaller.readthedocs.io/en/v3.3.1/advanced-topics.html#the-toc-and-tree-classes

[2018-04-16 14:24] SunyataZero commented on #196
[code]

[2018-04-17 12:58] #267 closed

[2018-04-17 13:49] SunyataZero opened #275 "Breathing notification jumps from the upper left corner"
This is only seen for an instant, but doesn't look good

[2018-04-18 11:00] #269 closed

[2018-04-19 11:46] SunyataZero commented on #262
Moved to here:

[2018-04-19 11:46] #262 closed

[2018-04-19 11:48] SunyataZero commented on #273
Using the active breathing phrase (as now)
    Using the first breathing phrase in the list (default is "breathing in i know i am breathing in")
    Using a custom text like "smile!", "breathe", or similar

Default ideas:

    Please adjust your posture and be aware/mindful of your breathing

[2018-04-19 11:49] SunyataZero commented on #198
Moved here: https://github.com/mindfulness-at-the-computer/mindfulness-at-the-computer/issues/273

[2018-04-19 11:49] #198 closed

[2018-04-23 11:47] SunyataZero opened #281 "Removing guilt"
Two users have reported feeling guilty for not being mindful. Some ideas for how to deal with this:
* Focusing on the personal benefits of practicing mindfulness
*

[2018-04-23 11:52] SunyataZero opened #282 "Encouraging the user to leave the computer, and maybe only for a short while"

[2018-04-23 12:24] SunyataZero opened #284 "Increasing mindfulness and decreasing control when using the breathing notification"
Ideas:
* Showing both the in-breath and out-breath phrases at the same time and changing from ib to ob (and ob to ib) by hovering over the phrases with the mouse cursor
* _

Please note that it's possible for us to have several different breathing visualizations that the user can choose from

[2018-04-25 11:22] SunyataZero opened #287 "Encouraging the user to give feedback inside the application"
I've noticed that people are using the software but are not giving feedback. Maybe we can ask the users by showing a popup dialog for example, to give us some feedback on what is good in the application and what can be improved?

[2018-04-30 11:26] Graphcalibur opened #289 "Program crashes when attempting to show breathing notification"
The program crashes when attempting to show the breathing notification. The log shows this error:

![image](https://user-images.githubusercontent.com/38370960/39425148-a3d5b516-4cac-11e8-98e0-3b1dd4549bc3.png)

This occurs on the latest version of the program (commit 259b5b1)

[2018-04-30 12:16] SunyataZero commented on #289
@Graphcalibur Thank you for reporting this! I'm glad you found this error, you are running directly from source right?

[2018-04-30 14:06] Graphcalibur commented on #289
@SunyataZero Yeah

[2018-04-30 15:08] SunyataZero commented on #289
@Graphcalibur Okay, i think i know what the problem is, again thank you, very good to know. There may be a race condition which isn't seen on my computer, i had my worries about this so i'm grateful that you found it now rather than later, and also took the time to file this issue

[2018-05-07 10:08] SunyataZero commented on #289
@Graphcalibur Hi, could you try this out now? I think the problem may be fixed in a recent commit

[2018-05-07 10:54] SunyataZero commented on #260
@theprofi Hi and thank you again for reporting this problem, i've been working on finding a solution for a while now, can you try this special build that i made? https://drive.google.com/file/d/1c1_4oh_6RQ-YUUMOQhwVyMcHMBQRU2Wa/view?usp=sharing

[2018-05-07 10:56] SunyataZero commented on #258
This bug has been seen by others:
* https://stackoverflow.com/questions/48007100/error-could-not-find-or-load-the-qt-platform-plugin-windows-pyqt-pyinstal
* Search term for this bug: **"could not find or load the Qt platform plugin" windows pyinstaller**

[2018-05-07 12:48] Graphcalibur commented on #289
@SunyataZero Yup, the program shows the breathing dialog without crashing.

[2018-05-07 13:52] SunyataZero commented on #289
@Graphcalibur Thanks for helping us! And please don't hesitate to contact us if you have a feature suggestion or find another bug in the program. We are still in alpha so ideas for improving the software are most welcome. Do you have any ideas now what could be improved and what is already working well for you?

[2018-05-07 13:52] #289 closed

[2018-05-07 18:31] theprofi commented on #260
It works!

[2018-05-08 15:09] SunyataZero commented on #260
Oh, i'm very glad to hear this! Now we can release alpha.5!!!

[2018-05-08 15:09] #260 closed

[2018-05-09 14:11] SunyataZero opened #295 "Remove unneeded lib files from the zip files"
This might drastically reduce the file size since there are many parts of Qt that we are not using

[2018-05-10 20:42] jgarciabu commented on #10
I've submitted a PR for typo corrections on 1 code file and 1 how to file.

[2018-05-14 14:09] SunyataZero commented on #185
@dgets Hi, when you have time could you look at this? You can either run from source or use our new alpha 5 release build: https://diasp.eu/posts/87b8bba035c40136c5074061862b8e7b

[2018-05-14 14:48] SunyataZero opened #297 "New rest dialog design"
Ideas:
* Nature background
* Hiding the rest actions
* Allowing the user to simply leave the computer (without even seeing the rest dialog itself) when seeing the rest notification in the upper right corner - this would reduce the number of clicks and make things easier for the user

[2018-05-14 21:27] SunyataZero opened #298 "Setting "random" as the default for the breathing phrases"

[2018-05-14 21:33] SunyataZero commented on #255
We have decided that the tooltip is enough. However this tooltips is not visible on LXDE (unknown why)

[2018-05-14 21:33] #255 closed

[2018-05-14 21:34] SunyataZero opened #299 "[LXDE] Systray icon tooltip not visible on LXDE"
This must be an LXDE or Qt bug, not something that we can fix ourselves

[2018-05-15 21:14] SunyataZero opened #303 "Removing the breathing dialog from the task bar"
Ideally we will still be able to alt-drag the dialog after the redesign

[2018-05-18 12:29] #200 closed

[2018-05-18 14:38] #298 closed

[2018-05-18 19:50] milkmiruku commented on #109
I'm enjoying the app, thanks! I'm wondering about the possibility of something like breathing messages 'playlists', so the program could load/create a set of messages in order, with however long a break. If each playlist was a file, some could be core and some contrib. I'm interested in enumerating through fairly abridged various aspects of the [Satipatthana](http://dharmafarer.org/wordpress/wp-co

[2018-05-21 11:26] SunyataZero commented on #109
@milkmiruku Hi and thank you for your feedback, i'm also interested in Buddhism, and this is the direction that we come from when we have designed the application. Are you willing to discuss this and other design-related ideas in our gitter chat? https://gitter.im/mindfulness-at-the-computer/design

[2018-05-21 17:11] milkmiruku opened #306 "Request for breath dialog instruction alteration"
1) For clarity, "Hover over the central area..." could be "Hover over the green box..."

2) The pointer being anywhere else but the green box counts as breath out, so maybe worth changing the "...over the background breathing out" text to "and away from the greenbox breathing out"

3) Overall, I would suggest; "Hover over the green box whilst breathing in and away from the green box whilst breathi

[2018-05-21 17:12] milkmiruku opened #307 "'Viewport' in breath dialog box doesn't resize on dialog resize"
With deep breaths, the text can become larger than the breath message viewport and thus obscured. Resizing the dialog doesn't resize the message viewport, it would be handy if it did.

[2018-05-21 17:41] milkmiruku commented on #255
Possibly as AppIndicator based GUIs don't do tooltips? https://bugs.launchpad.net/indicator-application/+bug/527458

[2018-05-21 18:58] milkmiruku commented on #297
My suggestion for the Rest screen would be to give the Rest Action list radio buttons so the user can choose one. These action choices would be logged, reported on like with breath session data, and some kind of message alongside the Action in the Rest screen list could show, allowing awareness of unattended actions.

Also, there could be buttons selecting a task; "Random Action" ("I'm feeling luc

[2018-05-21 19:32] milkmiruku opened #309 "Crash in Settings on selecting an Action and clicking Edit button"
[code]

[2018-05-21 19:37] milkmiruku opened #310 "Request for breathing session dialog activation options"
The greenbox method is fair in general, but too small for some. Could it be possible to have options of alternative methods of activating the in breath? Like mouse hover over the whole breath dialog, or keyboard press?

[2018-05-21 19:44] milkmiruku opened #311 "Settings window shows on launch"
It would be nice to have an option to disable showing the settings window on program start.

[2018-05-22 11:49] SunyataZero commented on #306
@milkmiruku That's better i agree! It was implemented here: https://github.com/mindfulness-at-the-computer/mindfulness-at-the-computer/pull/308 by @jgarciabu

[2018-05-22 11:49] #306 closed

[2018-05-22 11:52] SunyataZero commented on #311
@milkmiruku On my system (LXDE / Lubuntu) the settings window is minimized when starting the application, is it different on your system?

[2018-05-22 11:54] SunyataZero commented on #310
@milkmiruku We now have support for using the shift key (left or right), but it's not documented

We have been thinking about allowing different breathing visualizations, actually i'm experimenting with a different approach now

The simplest solution is maybe to just make the breathing dialog a bit bigger, would this work?

[2018-05-22 12:26] SunyataZero commented on #309
Woops, that was a big miss, we hadn't removed the image-related code for the rest dialog. I have now fixed this here: https://github.com/mindfulness-at-the-computer/mindfulness-at-the-computer/pull/312

[2018-05-22 12:28] #309 closed

[2018-05-22 12:35] SunyataZero commented on #297
@milkmiruku I like this idea, because i myself sometimes avoid some things and forget to do them

Previously we have been having an image for each rest action so that the user can select one and see the image

What i'm worried about is that the user thinks that she only want to do one of the rest actions, and also we have been trying to keep the application to mainly the computer and not dealing m

[2018-05-22 12:37] SunyataZero commented on #307
@milkmiruku Okay, interesting, let's keep this issue until later. It's also possible that we may want to set a limit for how large the box and text can become (we have set a minimum limit already)

[2018-05-22 12:46] SunyataZero commented on #297
@milkmiruku For me the most important improvement i see is if we could somehow help the user remember to do mindful walking. I forget to do this myself so would like to have better support from the application in this regard. Not sure how to do it though, and we already are encouraging the user using the text shown on the rest screen

Somehow adding mindful walking would be a huge benefit i think.

[2018-05-22 13:45] jgarciabu opened #313 "Error When Running from Source"
Haven't had a chance to research. Wanted to make all aware I got this error while I was running from source. I had stopped paying attention to the configuration screen to answer some texts for a few minutes. When I looked back up Python crashed and this message was in the debug console. I was at the finish window of the initial set up process.

Traceback (most recent call last):
  File "C:\Users\X

[2018-05-22 23:39] milkmiruku commented on #297
I think there's scope for an option for extra walking reminders, given how bad a sedentary lifestyle is for one, though I wouldn't use it (I personally want to make the call on some actions), but the biggest stopper for that atm is cleaning up the settings window, it's quite crowded ;)

An image based system sounds tricky - with the default actions, it would arguably be a fair chore to find a whol

[2018-05-22 23:44] milkmiruku commented on #311
Yes, I'm using i3wm. On starting the script, the settings window appears.

[2018-05-23 02:15] milkmiruku commented on #310
Shift is handy for now, thanks! The problem for me is that it needs the breath dialog to be active, which is kinda natural, but I ultimately personally prefer the advantages of using the keyboard more than mouse, especially with a tiling window manager, and for that my feature request would be of some command-line method to telling the app that my breath direction has changed so I could then bind

[2018-05-25 11:17] SunyataZero commented on #313
@jgarciabu Thank you for reporting this! Are you sure you are using the latest version? I remember that we had a similar (if not the same) problem in an earlier version

[2018-05-25 11:28] SunyataZero commented on #297
Thank you for taking the time to consider how to improve the application! Please see comments below

Marieke (mbed67) is working on this!

What we did in an earlier version was to find a set of images and then use some of them for the included actions, and have other nice images as well, but yes it can be hard to find the perfect image and then also do the scaling

We are considering whether to ke

[2018-05-25 11:37] SunyataZero commented on #311
Okay, i see the problem now in the code, i've created a PR for this: https://github.com/mindfulness-at-the-computer/mindfulness-at-the-computer/pull/315 Will merge after i get the okay from Marieke

Thank you for reporting this! It was actually a problem on my system as well (though it showed itself differently)

[2018-05-25 11:56] SunyataZero commented on #310
Alright, glad to hear this work for you! I will check our user documentation (not linked to at the moment so hard to find but will be used in the future) to see if we cover this. Or we could even include this in the intro wizard, what do you think?

You mean changing from the shift key to another key for breathing in and out?

We have been using different window "hints" for our windows, Qt takes h

[2018-05-25 20:13] milkmiruku commented on #297
Very fair on keeping it easy, though part of the reason I came to Workrave originally was that it hides the screen as well as disabling all input access (only issue was not being able to stop a video (or rather, the next video, thanks to autoplay) on YouTube, though that certainly doesn't happen every time, and I can always hit the volume (on my stereo)). But yeah, KISS is good.

[2018-05-28 13:26] SunyataZero commented on #311
All right, this issue should be fixed now, will be included in the next release!

[2018-05-28 13:26] #311 closed

[2018-05-28 13:30] SunyataZero commented on #310
@milkmiruku I've been experimenting with a different approach for another application, what do you think?

![image](https://user-images.githubusercontent.com/10245688/40616593-f50e2374-628b-11e8-8160-b9d8bb7e2321.png)

This is a large version, but could easily be made smaller. The lower and upper areas expand as the user hovers over them (and the text follows at half speed, keeping the text in the

[2018-05-28 13:42] SunyataZero opened #317 "The bottom of the intro wizard not visible when starting the application on computers with small screens"
Can be fixed easily by changing the y coordinate for the window. You can find this line in the file mc/gui/intro_dlg.py:
`self.setGeometry(300, 300, 650, 500)`

The second coordinate is the y coordinate which we could change to 150 for example

[2018-05-29 15:56] jgarciabu commented on #313
@SunyataZero Sorry for the late reply. The version I was using was as recent as the day I reported this error. I downloaded the zip file from Github that day and ran from source through my command prompt. When I have some time, I'll delete what I have on my machine and try again with the latest in Github.

[2018-05-30 10:35] #287 closed

[2018-05-30 18:52] jgarciabu commented on #313
@SunyataZero Just ran it again today with the latest version as of today downloaded from Github and it happened again. Same error, oddly enough the line numbers have incremented up by 1.

Traceback (most recent call last):
  File "C:\Users\XXXXX\Downloads\mindfulness-at-the-computer-master\mc\gui\main_win.py", line 574, in breathing_timer_timeout
    self.commence_breathing_notification()
  File "

[2018-05-31 11:45] SunyataZero opened #319 "Larger breathing interface when coming back from a break?"

[2018-05-31 12:29] fipnova51 commented on #317
Can I take this issue?
It'd be my first contribution to github...

[2018-05-31 15:03] SunyataZero commented on #317
@fipnova51 Yes, please do! And welcome :)

[2018-05-31 15:05] SunyataZero commented on #313
@jgarciabu Okay, thank you for reporting this and for the details, i will assign this issue to myself, hope to get a chance to look at this soon

[2018-06-01 19:56] fipnova51 commented on #317
@SunyataZero ,

Sorry but I couldn't see the the issue to fix. It seems there's a visibility issue on small screen.

I did some tests bu changing line 63 of files mc\gui\intro_dlg.py

I tested with

'''
    self.setGeometry(3000, 3000, 650, 500)
    self.setGeometry(300, 300, 6500, 5000)
'''

But every time I execute `python mindfulness-at-the-computer.py` I didn't see any changes in the gui (test

[2018-06-02 15:07] SunyataZero commented on #217
Has now been added to the website: https://mindfulness-at-the-computer.github.io/mindfulness/

[2018-06-02 15:07] #217 closed

[2018-06-02 15:09] SunyataZero opened #323 "Mentioning that users can take an issue by asking to have it assigned"
This may slow down the process though, because a user needs to be added as a "contributor" to be able to be assigned to issues

[2018-06-04 10:56] #317 closed

[2018-06-10 05:58] gibsonhan opened #324 "New feature? Visual feature"
Hello, I found this repository on an open source site. I would love to contribute. I was wondering how hard would it be to implement this a [visual breather](https://gfycat.com/gifs/detail/MediocreCriminalAsiansmallclawedotter). I was thinking of using react

[2018-06-13 00:43] brentirwin commented on #71
Hi! I was browsing this project and noticed where I could help with this issue in db.py. A few instances of i_db_conn had type hints of sqlite3.Connection, and others did not (including some sample code meant to be copied and pasted later). I updated them all to match and will send a PR. Hope it helps!

[2018-06-13 12:20] SunyataZero commented on #324
@gibsonhan Oh, that looks nice! Thanks for the tip! I'll add you to our chat on gitter and we can talk more there if you like?

[2018-06-13 12:21] SunyataZero commented on #324
@gibsonhan I get an error message when trying to add you, but can you join yourself here? https://gitter.im/mindfulness-at-the-computer/Lobby

[2018-06-20 00:45] GonzaloUlla commented on #10
Me too, I've just made PR #326 to correct some typos on 5 different files: 1 code file and 4 how to files. Thank you very much for giving me this chance to make my first contribution!!

[2018-06-20 16:08] GonzaloUlla commented on #71
Hello! I've just added some type hints in model.py and I've made a new PR (#327)

[2018-06-20 17:52] GonzaloUlla commented on #53
Hi!! I've working on this issue for quite a while, reviewing back-end code myself and using static analysis tools, and here are the results of my code review:

1. I suggest to refactor module mc.model.py as follows:
- Trying to reduce the amount of arguments, attributes and local variables in PhrasesM and SettingsM classes.
- Redefine the if statement under function is_empty(), simplifying it by r

[2018-06-21 20:10] SunyataZero commented on #53
@GonzaloUlla Oh, thank you for this, looks very good! Can i ask: Are you willing to implement some of these changes for us?

[2018-06-21 21:19] GonzaloUlla commented on #53
@SunyataZero you are welcome! I'm happy to help.
Sure, of course I'm willing to implement those changes, just tell me what you think about them and which are the ones you consider I should put my hands on (maybe I can start removing imports, unused variables and simplifying that if statement, I don't know what you think about the refactor on PhrasesM and SettingsM classes)

[2018-06-23 11:41] SunyataZero commented on #53
@GonzaloUlla Yes, that's the best i think also! I'm not sure how to refactor these classes by reducing the number of function arguments

[2018-07-27 01:57] altendky commented on #234
`import PyQt5.Qt` imports everything including bluetooth.  While that import looks nice for the sake of only having one it does cost in scenarios such as this.  So, just use the regular imports like `import PyQt5.QtWidgets` instead.

[2018-07-27 02:02] altendky commented on #234
https://github.com/mindfulness-at-the-computer/mindfulness-at-the-computer/blob/1c40b37352b37bdb59f9a6bd9f0dfbe1ee273df7/mindfulness-at-the-computer.py#L6

There's one case at least.

[2018-08-03 22:09] Krafty-Coder commented on #282
Can you please add more details to this issue. A description would do... Seems interesting and would like to contribute to as my first in this project

[2018-08-04 16:15] SunyataZero commented on #282
@Krafty-Coder Hi and welcome! We have now moved to gitlab, and we have a few issues with the "good first issue" label: https://gitlab.com/mindfulness-at-the-computer/mindfulness-at-the-computer/issues?label_name%5B%5D=good+first+issue

[2018-08-06 11:33] #224 closed

[2018-08-06 11:33] #228 closed

[2018-08-06 11:33] #230 closed

[2018-08-06 11:33] #234 closed

[2018-08-06 11:33] #238 closed

[2018-08-06 11:33] #250 closed

[2018-08-06 11:33] #258 closed

[2018-08-06 11:33] #259 closed

[2018-08-06 11:33] #261 closed

[2018-08-06 11:33] #263 closed

[2018-08-06 11:33] #271 closed

[2018-08-06 11:33] #273 closed

[2018-08-06 11:33] #281 closed

[2018-08-06 11:33] #282 closed

[2018-08-06 11:33] #284 closed

[2018-08-06 11:33] #295 closed

[2018-08-06 11:33] #297 closed

[2018-08-06 11:33] #299 closed

[2018-08-06 11:33] #303 closed

[2018-08-06 11:33] #307 closed

[2018-08-06 11:33] #310 closed

[2018-08-06 11:33] #313 closed

[2018-08-06 11:33] #319 closed

[2018-08-06 11:33] #323 closed

[2018-08-06 11:33] #324 closed

[2018-08-06 11:33] #64 closed

[2018-08-06 11:33] #65 closed

[2018-08-06 11:33] #70 closed

[2018-08-06 11:33] #71 closed

[2018-08-06 11:33] #79 closed

[2018-08-06 11:33] #93 closed

[2018-08-06 11:33] #95 closed

[2018-08-06 11:33] #96 closed

[2018-08-06 11:33] #100 closed

[2018-08-06 11:33] #107 closed

[2018-08-06 11:33] #109 closed

[2018-08-06 11:33] #110 closed

[2018-08-06 11:33] #113 closed

[2018-08-06 11:33] #115 closed

[2018-08-06 11:33] #119 closed

[2018-08-06 11:33] #121 closed

[2018-08-06 11:33] #146 closed

[2018-08-06 11:33] #149 closed

[2018-08-06 11:33] #184 closed

[2018-08-06 11:33] #185 closed

[2018-08-06 11:33] #193 closed

[2018-08-06 11:33] #196 closed

[2018-08-06 11:33] #197 closed

[2018-08-06 11:33] #202 closed

[2018-08-06 11:33] #222 closed

[2018-08-06 11:33] #6 closed

[2018-08-06 11:33] #10 closed

[2018-08-06 11:33] #39 closed

[2018-08-06 11:33] #51 closed

[2018-08-06 11:33] #52 closed

[2018-08-06 11:33] #53 closed

[2018-08-06 11:33] #55 closed

[2018-08-06 11:33] #61 closed

[2018-08-28 20:43] altendky commented on #234
@InUrSys, 'just keep using an old version forever' isn't great advice.  Especially when the OP already identified that as a way to avoid the issue.

[2018-08-28 21:00] InUrSys commented on #234
I agree with you @altendky , but this looks like a bug or something inside the PyQt5.10 and in that case I would rather use an old stable version than a new with bugs. idk maybe im thinking of it the wrong way.

[2018-08-28 21:59] altendky commented on #234
From the error message (and https://bugreports.qt.io/browse/QTBUG-40698) it appears to be a Qt platform support...  thing.  They support bluetooth on Windows only for >= 10 at this point.  I'll admit this is a tight requirement for Qt to enforce, but so it goes.

I had just found out about `PyQt5.Qt` recently and was interested in it, but given that it loads every module available thus using memor